[2020-03-31 21:49] duncanawoods opened #386 "IpcMain : add support for async callbacks"
Callbacks triggered by the UI are async (with respect to the web UI) but are handled with a non-async C# action:

[code]

It is now common for C# controller methods to be async so it would be convenient to support them directly with the following overload i.e.

[code]

Bridging the sync -> async boundary, might just mean using `Task.Run` but I don't know whether running it on the threadpool is act

[2020-04-02 01:41] melramkhelawan opened #387 "Application window doesn't open after packaging"
* **Version**: 7.30.2

.NET Core 3.1

* **Target**: Windows

The command prompt window opens but the application doesn't.

Steps to Reproduce:

1. Build using electronize build /target win
2. Run the exe

[2020-04-04 04:20] Charnock commented on #361
I was experiencing the same problem on version 7.30.2 and got the expected behavior with this.
[code]

[2020-04-04 07:12] frogcrush commented on #354
I'm also having this issue, and I do have npm installed.

[2020-04-09 17:48] rakista112 opened #388 "ElectronNET initializing but not running app on Ubuntu 18 and Fedora 29"
* **Version**: 7.30.2

* **npm version**: 6.9.0
* **NET Core**: 3.1

* **Target**: Linux (Ubuntu 18, Fedora 29)

The dotnet app backend continues running in the background but the UI freezes.
The part of the screen where the app UI opened gets stuck on the UI.
UI can't be interacted with

Steps to Reproduce:

1a. Make any basic Electron app in Linux and run via electronize start
1b. Package app vi

[2020-04-13 07:56] rakista112 commented on #388
I disabled GPU on the Parallel's Hardware configuration and it worked.
Do we have an API for this in .NET? If not, I'll inject it in Host

[2020-04-17 22:42] GregorBiswanger commented on #388
It sounds like a native electron problem. Have you checked for this yourself at Electron?
https://github.com/electron/electron

[2020-04-17 22:43] GregorBiswanger commented on #387
Can you provide me your application with source code if necessary?

The current version works without problems for us.

[2020-04-17 22:51] GregorBiswanger commented on #386
The callback is Async. Use with Async-Await is also possible if you execute asynchronous code in the callback.

Or did I misunderstand you?

[2020-04-17 22:53] GregorBiswanger commented on #385
That's a good idea! I'll go through that.

[2020-04-17 22:56] GregorBiswanger commented on #384
I don't have a Mac device, sorry ;)

Maybe someone from the community might build something for this?!

[2020-04-17 22:58] GregorBiswanger commented on #381
We would definitely have to try it out with a prototype.

It currently works with the last SocketIoClientDotNet version.

[2020-04-17 23:05] GregorBiswanger commented on #372
Is it fixed with electron in version 8?

[2020-04-17 23:08] GregorBiswanger commented on #370
Have you ever looked at debugging to see if a message was thrown in the background? For me it works perfectly ...

[2020-04-17 23:10] #364 closed

[2020-04-17 23:15] GregorBiswanger commented on #361
@Dotneteer We authors are both fathers at the moment.. and are therefore a bit limited in time.. I will work on a new version for the days.. But you can also support or sponsor us with pull requests :)

I'll take a closer look at your problem.

[2020-04-17 23:17] #358 closed

[2020-04-17 23:19] #353 closed

[2020-04-17 23:25] #265 closed

[2020-04-17 23:26] #278 closed

[2020-04-18 12:57] yawnston commented on #386
While it is technically possible to use async-await in the callback, if the callback produces an exception then this exception will be completely ignored since the Task would not be awaited. What @duncanawoods is proposing unfortunately doesn't seem like the solution either since Task.Run itself returns a Task which would not be awaited, so it seems like it's just shifting the problem 1 level deep

[2020-04-18 14:38] GregorBiswanger commented on #350
Changed App.GetNameAsync and App.SetNameAsync to App.Name Property for Electron.NET Version 8.31.1.

[2020-04-18 14:38] #350 closed

[2020-04-18 14:42] GregorBiswanger commented on #357
I fixed it in Version 8.31.1.

[2020-04-18 14:42] #357 closed

[2020-04-18 15:04] GregorBiswanger commented on #368
Fixed in Electron.NET Version 8.31.1 - Thanks for your pull request 🥳

[2020-04-18 15:04] #368 closed

[2020-04-18 23:26] GregorBiswanger commented on #348
You can set a name and author of the app in `electron.manifest.json` with the new Electron.NET Version 8.31.1

As example:

[code]

[2020-04-18 23:26] #348 closed

[2020-04-19 00:02] GregorBiswanger commented on #347
@nurbat I tried your example and the connection remains with me without problems (10 minutes long). There is a bit of memory growing with your method in the long run. However, you should not send a message every 100ms by default. Otherwise you should use alternative communication. But I think you just wanted to demonstrate it as an example of how it should crash?!

I am currently also using the la

[2020-04-19 00:02] #347 closed

[2020-04-19 02:38] zenith6495 commented on #310
@GregorBiswanger is this issue fixed in the latest version 8. 31.1? What's the new electron.manifest.json file look like?

[2020-04-19 12:34] GregorBiswanger commented on #373
Fixed with the new Electron.NET Version 8.31.1.

[2020-04-19 12:34] #373 closed

[2020-04-19 13:18] GregorBiswanger commented on #356
If you add a splash screen you can see that Electron and Node.js behind it is very fast. The problem in the background is .NET Core. The starting process is usually slow. In the current 3.1 version, it has become even faster with the `PublishReadyToRun` option.

In the current Electron.NET version 8.31.1 - We used here .NET Core 3.1 and I activate the `PublishReadyToRun` option per default.. so we

[2020-04-19 13:18] #356 closed

[2020-04-20 12:34] GregorBiswanger commented on #366
I tested it with the current version and there were no problems. Possibly. do you unconsciously register it more often, or is it due to the new Electron 8 version. Our latest update in version 8.31.1 will be released in the next few days.

![ElectronIpcMainOnceSample](https://user-images.githubusercontent.com/7336300/79752095-05e99480-8314-11ea-813c-43790baa315e.gif)

[2020-04-20 12:34] #366 closed

[2020-04-20 12:48] GregorBiswanger commented on #365
I tested it with the current version and there were no problems. Possibly. your code will not be executed with RemoveAllListeners or it is due to the new Electron 8 version. Our latest update in version 8.31.1 will be released in the next few days.

![ElectronRemoveAllListeners](https://user-images.githubusercontent.com/7336300/79753317-02570d00-8316-11ea-88d2-e48635a42d88.gif)

[2020-04-20 12:48] #365 closed

[2020-04-20 12:53] GregorBiswanger commented on #386
I am currently working on version 8.31.1 - Trying a completely different Socket.IO .NET client will be a bit short of time ... I will be the father of my second son in early May and will be somewhat limited .. if necessary someone has try another Socket.IO client from the community time ..

[2020-04-20 14:05] duncanawoods commented on #386
@yawnston

In most GUI APIs, an unhandled exceptions in a callback is application fatal. It would be normal for a callback to encapsulate it's errors rather than bubble them up to a framework that can't do anything sensible with them.

`Task.Run` returns a task but it doesn't need to be awaited unless you wish to capture the result or block until the asynchronous execution on the thread-pool is co

[2020-04-20 23:00] GregorBiswanger commented on #352
Fixed in Electron.NET Version 8.31.1.

[2020-04-20 23:00] #352 closed

[2020-04-21 05:51] FQLin commented on #361
I have the same problem on version 7.30.2,but netcoreapp5.0 priview project.

[2020-04-21 12:18] rakista112 commented on #388
I haven't checked yet, I'll try and ask them. Thanks

[2020-04-21 12:40] GregorBiswanger commented on #361
Fixed in the next Electron.NET Version 8.31.1.

[2020-04-21 12:40] #361 closed

[2020-04-21 12:48] GregorBiswanger commented on #339
Thanks for your contribution @x-xx-o

The next Electron.NET Version 8.31.1 have your new printer support.

[2020-04-21 12:48] #339 closed

[2020-04-21 12:56] GregorBiswanger commented on #360
Hi @nurbat, you can easily determine that yourself using program logic.

Subscribe to the `App.OnBlur` event and deregister the global shortkey with `Electron.GlobalShortcut.Unregister`.

With the `App.OnFocus` event you can register your shortcuts again.

[2020-04-21 12:56] #360 closed

[2020-04-21 13:04] GregorBiswanger commented on #325
Hey

To do this, you must store the JavaScript files in the following file:
`ElectronNET.CLI/Commands/Actions/DeployEmbeddedElectronFiles.cs`

You can then use the generated DLL from the CLI project roughly as follows:
`dotnet "C:\Users\Gregor\source\repos\Electron.NET\ElectronNET.CLI\bin\Debug\netcoreapp3.0\dotnet-electronize.dll" start`

Write to me privately via [Gitter](https://gitter.im/Elect

[2020-04-21 13:04] #325 closed

[2020-04-21 13:10] GregorBiswanger commented on #385
Okay, in principle the current solution is easier. You don't need an injection. You can easily access the static functions. I would see no advantage behind it. Alternatively, you could write your own service as a facade.

[2020-04-21 17:40] GregorBiswanger commented on #273
I implemented a new CLI command:
`electronize start /clear-cache`

Every new window will created with an clear cache.

This new feature is aviable with the new Electron.NET Version 8.31.1

[2020-04-21 17:40] #273 closed

[2020-04-21 19:08] GregorBiswanger commented on #305
Live reload is on the way with Electron.NET version 8.31.1 >> #380

[2020-04-21 19:08] #305 closed

[2020-04-21 19:17] GregorBiswanger commented on #310
You can set a name and author of the app in `electron.manifest.json` with the new Electron.NET version 8.31.1 (#348 )

As example:

[code]

[2020-04-21 19:17] #310 closed

[2020-04-23 08:25] Velorien commented on #372
@GregorBiswanger if I understood correctly, they fixed it in one of Electron 8 pre-releases and shipped the fix in 8.2.

[2020-04-23 12:25] GregorBiswanger commented on #371
Implemented! Will be released in Electron.NET version 8.31.1.

[2020-04-23 12:25] #371 closed

[2020-04-23 20:02] drozdzamadeusz opened #389 "Unable to disable WebSecurity along with NodeIntegration enabled"
* **Version**: 7.30.2

* **Target**: Windows

Setting <code>NodeIntegration</code> to <code>true</code> results in overwriting all other options in <code>WebPreferences</code> to its defaults. So it is impossible to use `NodeIntegration = true` along with `WebSecurity = false`, because  `WebSecurity` value will be ignored.

Steps to Reproduce:
This can be reproduced using simple new generated elec

[2020-04-23 23:00] GregorBiswanger commented on #389
Fixed! Will be released with Electron.NET version 8.31.1.

[2020-04-23 23:00] #389 closed

[2020-04-23 23:08] GregorBiswanger commented on #375
Electron.NET is not compatible with lower versions of Electron. It all depends on the Electron.NET versioning. As an example the next version will be: 8.31.1 - 8 stands for the supported electron version. The 31 for .NET Core 3.1 - and the 1 for our release from the new Electron version.

Compatibility for an electron / node version can be introduced with the `electron-rebuild` super package.

Alt

[2020-04-23 23:08] #375 closed

[2020-04-24 23:11] GregorBiswanger commented on #349
I tried to reproduce the problem. The first time I actually deleted nuget packages from the solution file. When I repeated it, there were no problems.

I think it is due to the following problem: If the project was created with the dotnet cli and then packages are installed in Visual Studio Nuget without first saving the VS Solution file.

I cannot fix this problem in the code. It is best to save

[2020-04-24 23:11] #349 closed

[2020-04-30 05:24] danielmeza commented on #385
Th utility of this is to unit test because we can remplace all parts, If we can provide this as services then we only need to do the fakes! and not the entire facade.

[2020-05-01 11:59] GregorBiswanger commented on #385
You can already register the Electron class with Services ... that should work ...

[2020-05-04 08:55] ipax77 commented on #387
Some users of my app do have the same problem – it is stuck at:
[code]

On my Desktop and a virtual machine  it is working fine, but I was able to repoduce it on my laptop (all (Win10 64)

The code is available here [here](https://github.com/ipax77/sc2dsstats/tree/master/sc2dsstats.desktop)
but I have the same result (desktop/virtual machine ok, laptop nok) with a clean asp dotnet core blazor app

[2020-05-04 09:45] thomvandevin commented on #347
hey! @GregorBiswanger
I'm still encountering this bug with the result that my frontend doesnt react on events anymore after a reconnect.

My hypothesis is that this happens whenever there is a large cpu or ram load going on. Due to this the app-lifetime can vary from 1 minute to multiple days depending on what I'm doing with my pc.
The result however is that the user will have to manually end the

[2020-05-05 08:43] Velorien commented on #372
I've verified that it's fixed in the latest release 🎉

[2020-05-05 08:43] #372 closed

[2020-05-06 12:21] AykutToprak opened #391 "BrowserWindow OnClose event"
🚨 The issue tracker is not for questions 🚨

How to hide browser window and put application in Tray mode on close button clicked?

I tried as it shown below;

`browserWindow.OnClose += () => OnClose(browserWindow);`

and OnClose action;

<pre><code>
private static void OnClose(BrowserWindow browserWindow)
{
    browserWindow.Hide();
    var menu = new MenuItem[]
    {
        new MenuItem
        {

[2020-05-06 12:25] GregorBiswanger commented on #391
please see how to do this in native electron and try our API:
https://www.likeanswer.com/question/19825

Please let me know if everything worked out for you.

[2020-05-06 12:47] AykutToprak commented on #391
![Ekran Alıntısı](https://user-images.githubusercontent.com/28687593/81178119-603f5200-8fb0-11ea-94c4-7b7a613408a3.JPG)

Using browserWindow in OnClose event give error as it can be seen in above image.
In my opinion the difference between native code is `event.preventDefault();` of onClose event.

browserWindow has been already closed in OnClose  event so that it give error.

[2020-05-06 15:55] thomvandevin opened #392 "BrowserWindow SetProxyAsync sets proxy for all new windows"
* **Version**:  8.31.1 (and earlier)

* **Target**: .NET Core 3.1 & nodejs v12.16.2

Steps to Reproduce:
I spawn a browserwindow like this:
[code]

From here on, if I try to spawn a new BrowserWindow that loads a new url, **the previous ProxyConfig seems to affect the traffic of this new window**.

My current fix is by setting the proxyConfig again:
[code]

[2020-05-06 15:57] thomvandevin opened #393 "BridgeConnector Reconnected causes loss of socket"
I'm still encountering this bug with the result that my frontend doesnt react on events anymore after a reconnect.

My hypothesis is that this happens whenever there is a large cpu or ram load going on. Due to this the app-lifetime can vary from 1 minute to multiple days depending on what I'm doing with my pc.
The result however is that the user will have to manually end the app-task through the t

[2020-05-07 00:30] GregorBiswanger commented on #391
I built you a sample. You have to put a script in your window (HTML) when the window is closed. You prevent the app from closing and inform your code via IPC. There you create a system tray and hide the window.

Could that help you?

**The script in your MainWindow (html):**

[code]

**The code in startup.cs:**

[code]

![electron net-sys-tray](https://user-images.githubusercontent.com/7336300/812

[2020-05-07 07:08] AykutToprak commented on #391
Thank you @GregorBiswanger .

It solved the problem.

[2020-05-07 07:08] #391 closed

[2020-05-07 19:57] GregorBiswanger commented on #14
Available at Electron.NET 8.31.2

[2020-05-07 19:57] #14 closed

[2020-05-08 03:23] drozdzamadeusz commented on #387
Any updated on this issue? A have exactly the same problem, after update program starts on my computer but not on any other.

[2020-05-08 18:29] cdespinosaagmx commented on #393
I same the same issue, did you fixed this?

[2020-05-08 18:36] GregorBiswanger commented on #387
@ipax77 I try to start your project with VS2019 and get an error:
![image](https://user-images.githubusercontent.com/7336300/81437416-6c234380-916b-11ea-933a-39b9da07e2b7.png)

@drozdzamadeusz can you provide me with your project or can you reproduce it please?

[2020-05-08 18:36] GregorBiswanger commented on #387
@ipax77 FYI
![image](https://user-images.githubusercontent.com/7336300/81437549-a1c82c80-916b-11ea-9c05-8104b863dc43.png)

[2020-05-08 19:19] ipax77 commented on #387
@GregorBiswanger fixed the sln file, sry.
I was able to reproduce it with the clean sample dotnet core blazor project, too (with counter and weatherforcast).

[2020-05-08 23:35] drozdzamadeusz commented on #387
@GregorBiswanger yes of course, here is source of my project: https://github.com/drozdzamadeusz/talker-app

[2020-05-09 11:56] drozdzamadeusz commented on #387
@GregorBiswanger I figured out that to run application every user has to have NET Core 3.1 SDK installed. I have no idea why this situation occurs, before update to 8.31.1 application started normally on computers without NET SDK installed.

[2020-05-09 18:12] ThuCommix opened #395 "Build fails for win-x64 under linux"
* **Version**:
    * API: 8.31.1
    * CLI: 8.31.1

- dotnet core sdk 3.1
- nodejs 12.x

* **Target**:
    * win-x64

I'm trying to setup a build for my electron app for multiple platforms: win-64x, linux-x64 and osx. After having giant trouble even with the linux build I rolled my own image and got it working. For example I needed to install the electron-builder globally because when just running

[2020-05-09 18:34] robalexclark opened #396 "Build process for 8.31.1 no longer produces a self-contained app"
There was a change from version 7.30.2 to 8.31.1 to the file ElectronNET.CLI/Commands/BuildCommand.cs where --no-self-contained is now specified.
Previously this was not specified so a self-contained app was produced, but this change means that the dotnet core runtime needs to be manually installed on all target machines. Is this by design?

If it is by design then could you allow --self-contained

[2020-05-09 19:04] GregorBiswanger commented on #387
@ipax77 I think @drozdzamadeusz is right here.. it is no longer produced as self contained.. I can't say where that comes from... that must have slipped in with a pull request.. I will change and test it locally.. if then everything works, it will be released immediately for update 8.31.2.

![image](https://user-images.githubusercontent.com/7336300/81482573-4fa10d00-9238-11ea-9753-7f9db38a69d7.png

[2020-05-09 19:18] GregorBiswanger commented on #110
In Electron.NET 8.31.1 we incease the startup time and we continue to work hard to get it even better.

[2020-05-09 19:18] #110 closed

[2020-05-09 19:38] ThuCommix commented on #396
I think it would be better if we could specify the dotnet publish arguments by ourselfs.

[2020-05-09 20:33] GregorBiswanger commented on #396
That was an accident and will be fixed in the upcoming version 8.31.2.

@ThuCommix  A "no" self contained doesn't really make sense for a portable cross platform solution .. I would like to have it active by default ..

[2020-05-09 20:34] GregorBiswanger commented on #387
Okay, will be fixed with Electron.NET 8.31.2...

![image](https://user-images.githubusercontent.com/7336300/81484357-25098100-9245-11ea-84e3-6273fb978723.png)

[2020-05-09 20:35] GregorBiswanger commented on #396
Duplicate of #387

[2020-05-09 20:35] #396 closed

[2020-05-09 20:40] GregorBiswanger commented on #395
I activated `PublishReadyToRun` by default because it had improved the startup speed enormously. I will build a command to disable it for the next version 8.31.2.

[2020-05-09 20:56] GregorBiswanger commented on #393
Honestly, I have no idea why the problem can be. Normally everything is still supported with a reconnect. Socket.IO and .NET Core with the library we used (SocketIoClientDotNet) are unfortunately no longer being developed and we would have to find an alternative. @syedadeel2  is currently working on a prototype of how we could do completely without websockets. However, this will be hard work becau

[2020-05-09 21:56] ThuCommix commented on #395
If you're busy I can help you out with a pull request.

[2020-05-09 22:26] GregorBiswanger commented on #395
Thanks for your offer! We can always use reinforcements :)
Trigger me on gitter, if you want to participate.

I have already implemented this feature. With the next update **8.31.2** you can use the following command:
`electronize build /target win /PublishReadyToRun false`

or

`electronize start /PublishReadyToRun false`

Alternatively, it is active by default.

[2020-05-09 22:26] #395 closed

[2020-05-09 22:32] GregorBiswanger commented on #387
Fixed and will be available with update 8.31.2.

[2020-05-09 22:32] #387 closed

[2020-05-09 22:34] #385 closed

[2020-05-09 22:38] GregorBiswanger commented on #214
No activity here for too long. Please ask detailed questions on gitter or stackoverflow.
https://gitter.im/ElectronNET/community

[2020-05-09 22:38] #214 closed

[2020-05-09 22:39] #216 closed

[2020-05-09 22:44] GregorBiswanger commented on #251
The Electron team will discontinue support for 32-bit Linux (ia32 / i386) starting with Electron v4.0. The last version of Electron that supports 32-bit based installations of Linux is Electron v3.1, which will receive support releases until Electron v6 is released. Support for 64-bit based Linux and armv7l will continue unchanged.

https://www.electronjs.org/blog/linux-32bit-support

[2020-05-09 22:44] #251 closed

[2020-05-09 22:45] GregorBiswanger commented on #260
Can be deactivated. However, IPC can then no longer be used.

[code]

[2020-05-09 22:45] #260 closed

[2020-05-09 22:48] GregorBiswanger commented on #264
is fixed

[2020-05-09 22:48] #264 closed

[2020-05-09 22:53] #274 closed

[2020-05-09 22:54] GregorBiswanger commented on #279
I now referenced the assemblies directly. Works best for me.

[2020-05-09 22:54] #279 closed

[2020-05-09 22:58] GregorBiswanger commented on #284
Available in Electron.NET 8.31.1 - Please use the new `electron.manifest.json` file.

[code]

[2020-05-09 22:58] #284 closed

[2020-05-09 22:59] #285 closed

[2020-05-09 23:00] #290 closed

[2020-05-09 23:02] GregorBiswanger commented on #291
Fixed with Electron.NET 8.31.1.

[2020-05-09 23:02] #291 closed

[2020-05-09 23:02] #388 closed

[2020-05-09 23:04] #293 closed

[2020-05-09 23:06] GregorBiswanger commented on #294
It's best to use a single-page app, or see the code from our demo app.
Alternatively, you can also use Blazor.

https://github.com/ElectronNET/electron.net-api-demos

[2020-05-09 23:06] #294 closed

[2020-05-09 23:06] #297 closed

[2020-05-09 23:06] #298 closed

[2020-05-09 23:07] GregorBiswanger commented on #302
please use our newest version and install global the newest Electron.NET version.

[2020-05-09 23:07] #302 closed

[2020-05-09 23:09] GregorBiswanger commented on #316
https://www.thesslstore.com/blog/how-to-make-ssl-certificates-play-nice-with-asp-net-core/

[2020-05-09 23:09] #316 closed

[2020-05-09 23:12] GregorBiswanger commented on #317
Please use the latest version of Electron.NET.

You can find answers to the system tray on gitter:
https://gitter.im/ElectronNET/community

[2020-05-09 23:12] #317 closed

[2020-05-09 23:15] GregorBiswanger commented on #319
I see we have an relative-path param...

Use:
electronize build /target win /relative-path "YOUR PATH"

[2020-05-09 23:15] #319 closed

[2020-05-09 23:16] #332 closed

[2020-05-09 23:17] #333 closed

[2020-05-09 23:18] #335 closed

[2020-05-09 23:20] GregorBiswanger commented on #336
Please have a look at electron-builder. You can find the configuration for this under the new `electron.manifest.json` file at `"build"`.

https://www.electron.build/auto-update

We have an sample in our API Demo App too:
https://github.com/ElectronNET/electron.net-api-demos

[2020-05-09 23:20] #336 closed

[2020-05-09 23:22] GregorBiswanger commented on #344
Works with the new Electron.NET 8.31.1.

[2020-05-09 23:22] #344 closed

[2020-05-09 23:22] GregorBiswanger commented on #345
Fixed and use the new Electron.NET 8.31.1.

[2020-05-09 23:22] #345 closed

[2020-05-09 23:23] GregorBiswanger commented on #346
I have no Mac and @robertmuehsig have no time.

We need help for this issue please.

[2020-05-09 23:24] GregorBiswanger commented on #381
FYI @syedadeel2

[2020-05-09 23:25] GregorBiswanger commented on #378
I have no mac - We need help for this issue please.

[2020-05-09 23:29] GregorBiswanger commented on #384
You can use it yourself with our HostHook feature. See our API demo app at **"Execute your own TypeScript code"**

https://github.com/ElectronNET/electron.net-api-demos

[2020-05-09 23:29] #384 closed

[2020-05-09 23:31] #370 closed

[2020-05-09 23:33] GregorBiswanger commented on #354
The Visual Studio debug option is unfortunately a prototype.
https://github.com/ElectronNET/Electron.NET/issues/13

[2020-05-09 23:33] #354 closed

[2020-05-10 01:42] mpnow commented on #346
I have a spare Mac I could send you if no one is available to help out with this issue. Interested?

It's really critical for this bug to be resolved in order to make a working Electron.NET-based Mac app.

[2020-05-10 09:15] daxnet commented on #354
I am having the exact same issue here, with ElectronNET.CLI Version: 8.31.1.0, even if I run the `electronize start` from command line.
Looks like it is not related to the debug options.

[2020-05-10 11:02] GregorBiswanger commented on #392
Hi @tomkerkhove
we natively set this command window related. It must be native electron behavior that all other windows inherit from it.

![image](https://user-images.githubusercontent.com/7336300/81497337-17441200-92be-11ea-89fa-61b5592076e7.png)

I am unsure whether we should consider this a mistake and include a workaround in our API.

[2020-05-10 11:04] GregorBiswanger commented on #392
I found the following from the native electron: https://github.com/electron/electron/issues/4859

[2020-05-10 11:56] GregorBiswanger commented on #374
The problem here is that the app must first be packed with electron-builder so that the API works correctly. For this a `dev-app-update.yml` file is created. For example with the following command: `electronize build /target win /electron-params --publish=always`

In addition, the settings have to fit in the `electron.manifest.json` file under "build".
https://www.electron.build/auto-update

Alter

[2020-05-10 12:41] ipax77 commented on #374
`var result = await Electron.AutoUpdater.CheckForUpdatesAndNotifyAsync();`
is working as expected (published on GitHub)
but
[code]
triggers the Java-Part ("Found version 2.0.0 (url: sc2dsstats.desktop-Setup-2.0.0.exe)") but I don't get a result back in C# (no error, just waiting for ever)

[2020-05-10 16:32] Tum4ik commented on #264
Nice, thanks.

[2020-05-10 19:31] GregorBiswanger commented on #374
Okay, I see.. it must be because the Json serializer is causing problems..
is difficult for me to fix now...

Can you pull the repository here and directly reference the CLI assembly? Manual packages that you need can be found in the WebApp project... then start your app and attach to the running process with visual studio... I think you will be able to see exactly what the problem is with an exce

[2020-05-10 20:46] nacktech opened #397 "Failed To open dropdown menu in navbar"
# Failed To open dropdown menu in bootstrap navbar

## Versions:
=> ElectronNET.CLI Version: 7.30.2.0
=> .Net core 3.1 and node 13.11.0

## Target:
Windows,
Linux,
Mac

## details:
Hello I add a dropdown menu with bootstrap, when I test it in the browser it works normally, but when I open in the electronNET "browser" it just don't work

the code is:
[code]

[2020-05-11 09:52] syedadeel2 commented on #381
No more Sockets I'm near to the solution.

[2020-05-11 12:49] DevAsmob commented on #384
The **"Execute your own TypeScript code"** in your API demo app allow to execute HostHook feature inside app already launched.

Notarize app for MacOS Catalina must be executed during build, like signing in your build process.
![Capture d’écran 2020-05-11 à 14 41 53](https://user-images.githubusercontent.com/62430167/81563428-855c0800-9396-11ea-91e3-c180e4cdebcb.png)

Are you sure i can use your

[2020-05-11 12:59] kylethomas320 opened #398 "--no-self-contained flag is forced upon build"
* **Version**:  8.31.1

* **Target**: .NET Core 3.1

I recently upgraded from the previous electron v7 to v8.31.1 and noticed that `--no-self-contained` is put in the build command. I need my build to be a self contained file, as in previous versions of Electron .NET. Will this be fixed in a later version? As this is hardcoded in the c# CLI code, I can't force it to go to self-contained myself. Se

[2020-05-11 13:50] GregorBiswanger commented on #398
Duplicate of #387

[2020-05-11 13:50] #398 closed

[2020-05-11 16:34] GregorBiswanger commented on #270
It is now possible to simply change the existing menu. To do this, the existing menu must be set again. Available in **Electron.NET 8.31.2**.

[code]

![electron-update-context-menu](https://user-images.githubusercontent.com/7336300/81586599-01b21380-93b6-11ea-9aa7-ce4d4ad9ff6c.gif)

[2020-05-11 16:34] #270 closed

[2020-05-11 19:12] GregorBiswanger commented on #270
**For the tray menu:**

[code]

![electron-net-update-tray-menu](https://user-images.githubusercontent.com/7336300/81601935-05509500-93cc-11ea-809c-f5262dd747e8.gif)

[2020-05-11 19:17] GregorBiswanger commented on #346
@mpnow Sounds good! Then I can definitely provide the support for it better... so far no one has reported...

[2020-05-13 19:55] nacktech commented on #397
UPDATE:
is not just the navbar, all the external javascript files doesn't load. I have test it like this

in java.js:
[code]

in index.razor:
[code]

when i click the button it was supposed to change the text but it doesn't do anything
I have put the script tag in _Host.razor refering to this file
I have also test it puting the file in the host/bin/ and refering by the full path, but it still dose

[2020-05-13 19:59] GregorBiswanger commented on #397
please create a prototype that I can test locally

[2020-05-14 09:17] graylobo opened #400 "Not working Dropdown and Popup (bootstrap)"
* **Version**:  8.31.2

* **Target**: window

I make some Blazor page. github code link is below
https://github.com/graylobo/BlazorElectron
![20200514_181350](https://user-images.githubusercontent.com/37823841/81916423-c2323400-960e-11ea-9344-09f4c90f48e3.png)

If I run it in browser, dropdown effect and popup effect work's good,
but if I run it in Electron.net, it doesn't work
![20200514_181903](

[2020-05-14 09:46] graylobo opened #401 "Submenu not shown"
* **Version**: 8.31.2

* **Target**:

I'm trying to make 'One' menu, and 'Two' submenu.
my code is below

`
Task.Run(async () => {
                var options = new BrowserWindowOptions { Show = true };
                Electron.Menu.SetApplicationMenu(new MenuItem[] { new MenuItem { Label = "One" ,Submenu = new MenuItem[] { new MenuItem {Label="Two" } } } });
                await Electron.WindowM

[2020-05-15 19:25] GregorBiswanger commented on #401
You forgot to set the type for it as a submenu:

[code]

![electron-net-submenu-problem](https://user-images.githubusercontent.com/7336300/82088750-9b4d2e00-96f2-11ea-80b9-9996674ad5be.gif)

[2020-05-15 19:25] #401 closed

[2020-05-15 20:14] GregorBiswanger commented on #400
Electron cannot find your jQuery instance.

![image](https://user-images.githubusercontent.com/7336300/82092146-fda92d00-96f8-11ea-8966-5bc59ab4f734.png)

To do this, you have to deactivate the node integration. This automatically changes everything to CommonJS. **Important!** If it is deactivated, you cannot use Electron.NET IPC communication. Then please use the standard communication from Blazo

[2020-05-15 20:14] #400 closed

[2020-05-15 22:01] GregorBiswanger commented on #397
Duplicate of #400

[2020-05-15 22:01] #397 closed

[2020-05-15 22:02] #392 closed

[2020-05-15 22:04] GregorBiswanger commented on #374
In this video I show, how you can work with the repository:
https://youtu.be/Po-saU_Z6Ws

[2020-05-16 00:35] ipax77 commented on #374
cool video, ty! <3

You were right I do get an Error in the Json serializer:
[code]

in ElectronNET.API/AutoUpdater.cs line 426
`return taskCompletionSource.Task;`

I wasn‘t able to dig deeper because of missing source files for that ..

[2020-05-16 00:52] nacktech commented on #397
Thank you very much

[2020-05-17 12:52] graylobo opened #403 "Not calling RestAPI"
* **Version**: 8.31.2

* **Target**:

<img width="911" alt="20200517_203428" src="https://user-images.githubusercontent.com/37823841/82143714-eeed8200-9880-11ea-9207-749135ec2c33.png">
I'm trying to call RestAPI data, using httpclient library in nuget.

<img width="1917" alt="20200517_205822" src="https://user-images.githubusercontent.com/37823841/82146507-cc119c80-9885-11ea-9519-305e6c2ab290.png"

[2020-05-17 15:56] konstantingross commented on #403
Your ElectronNET port does not match the port of the RestAPI call.

Add following line to your Program.cs:
webBuilder.UseStartup<Startup>();
webBuilder.UseUrls("http://*:8001"); //e.g. 8001

RestAPI.razor:
Students = await http.GetJsonAsync<List<Student>>("http://localhost:8001/api/students");

![image](https://user-images.githubusercontent.com/6459825/82153392-70381b00-9867-11ea-8825-2c4e89965a42

[2020-05-17 18:31] ShadowmourneE opened #404 "Where can I find executable file?"
Sorry for my may be foolish question.. but can I run the built application(one file) without executing 'electonize start' ( without building again). Where can I find this one?

[2020-05-17 18:43] GregorBiswanger commented on #404
Please read the "Build" part by the README:
https://github.com/ElectronNET/Electron.NET/blob/master/README.md

[2020-05-17 18:43] #404 closed

[2020-05-17 20:51] dafergu2 commented on #279
This issues till happens if you simply run `dotnet build` in the main directory.  In addition, the builds for linux and windows fail during the `buildAll.sh` as well.

The issue with the solution is due to the project reference in the solution file.  Is there a need to set the following in the .sln file?

[code]

[2020-05-17 23:42] dafergu2 commented on #346
@mpnow I'm currently looking at it.  My main dev system is a mac, so I'm going to try and get a lot of things mac related fixed up and improved.

[2020-05-17 23:47] brianmed commented on #346
The code below looks like it's working for me.  I only have one app window, and when I close it, all processes are gone.  In addition, when I quit the app via the Dock, then all processes are gone.  Hope it continues working and works for you.

This is in the ElectronBootstrap function in my Startup.cs file.

[code]

[2020-05-17 23:50] dafergu2 commented on #346
One thing I've noticed is that the app all windows closed event is not being triggered.  In order to keep this as much in line with recommendations on raw Electron, I was planning on making sure that event gets bubbled up.  What's interesting is that you are also calling `Environment.Exit()`.  If you remove that line, does the .net core project stay running?

[2020-05-17 23:52] brianmed commented on #346
Could event issue be this code in app.js?

There's a lot of code, and I'm not sure this is executed, but if so, looks like could be related to darwin issues.

[code]

[2020-05-17 23:55] brianmed commented on #346
Correct, if the Environment.Exit() line is removed, then the .Net Core project stays running.

[2020-05-17 23:59] dafergu2 commented on #346
I believe so.  If you look down, there's another call to `app.on('window-all-closed'...)` which actually emits the event back to the .net process.  I'm going to restructure that shortly.

[2020-05-18 00:00] dafergu2 commented on #346
Thanks!  That tells me that the electron process should also kill the .net core http server process when it exits as well.  I'll see about fixing that and push up a PR.

[2020-05-18 01:05] graylobo commented on #403
Thank you. It works well thanks to your advice.
![20200518_100119](https://user-images.githubusercontent.com/37823841/82165174-f3e91a80-98ee-11ea-8ec1-3aca01f87d7a.png)
However, it does not move to the json page when i click the button

[2020-05-18 01:16] mpnow commented on #346
That sounds like good news, guys, thanks.

I'm also shipping an extra Mac I had to @GregorBiswanger so going forward he'll be in better shape to work on and test on MacOS.

[2020-05-18 01:26] dafergu2 commented on #346
I have a fix that is working for me, but I don't think it is the ideal way to handle it.  There's a mix of logic between the electron main process code and the .net api code.  I think it would be better to pull all of the logic up to the .net api code so that it:

1) Simplifies the logic in the electron main process (which, imo, is harder to debug)
**AND**
2) Allows the end user of ElectronNET to

[2020-05-18 02:20] dafergu2 commented on #386
I snooped around a little on this.  Perhaps looking at this as a replacement would be good?

https://github.com/HavenDV/H.Socket.IO/

At the very least, the replies back to the electron main process can use async/await.  I'd want to dive into it a bit to see if the callbacks can accept an async method as well.

[2020-05-18 02:24] dafergu2 commented on #381
I'd be interested in helping with this.  I've seen the bridge connector flake out on me after leaving my app running for a long time and it is the one thing that worries me the most.

What are you looking to swap this out with, @syedadeel2 ?

[2020-05-18 02:25] dafergu2 commented on #381
This is also an option to explore: https://github.com/HavenDV/H.Socket.IO/

[2020-05-18 17:55] konstantingross commented on #403
Try this but I don't know if this is best practice:
`new MenuItem { Label = "Home", Click = () => Electron.WindowManager.BrowserWindows.First().LoadURL("http://localhost:8001/")`

[2020-05-18 19:48] GregorBiswanger commented on #403
The safest way would be:
`new MenuItem { Label = "Home", Click = () => Electron.WindowManager.BrowserWindows.First().LoadURL($"http://localhost:{BridgeSettings.WebPort}/")`

Did we solve your problem?

[2020-05-18 20:12] cdespinosaagmx commented on #393
Gregor, this issue that makes bridgeconnector reconnected only happends in Electron.Net version 8.31 +?, or this happens in all version of Electron.Net cuz i'm working on a project using this tool but i always lose connectivity and after that i cant do any operation... so if i go back to an old version it will be fixed?? I see my electronize build /win failed too it loses brigeconnector too.

[2020-05-18 21:19] christosk92 commented on #346
Awesome to hear guys! My mac recently broke so I haven't gotten around to try it yet.

[2020-05-19 00:35] konstantingross commented on #393
Every now and then I get the same problems. You can also reproduce it, if you check for updates in debugger (not deployed / packed).

But just for fun I updated to the newest version of socket.io and everything work like a charm! I noticed that ElectronNET.Host has a mismatch in the version number: package.json has 2.1.2 but package-lock.json has 2.1.4 maybe that causes the problems?

[2020-05-19 00:46] graylobo commented on #403
Yes, it works perfect. Thanks a bunch!

[2020-05-19 00:47] #403 closed

[2020-05-19 11:19] #346 closed

[2020-05-19 13:12] nazar322 opened #407 "Pass configuration profile to electronize"
I work on a cross-platform project that supposes to run on both Mac and Windows. To avoid code duplicates I have classes that mostly share the same code but might have platform-specific areas that I distinct from the rest of the code with `#if WINDOWS` for instance. Then I have created configuration profiles for each Windows and Mac builds that define symbols I need to compile my project for the p

[2020-05-19 16:56] GregorBiswanger commented on #407
Have you tried the following command?
`electronize start /args ASPNETCORE_ENVIRONMENT="Development"`

[2020-05-19 16:58] GregorBiswanger commented on #407
With .NET Core you can use native methods:
`bool isWindows = System.Runtime.InteropServices.RuntimeInformation
                                               .IsOSPlatform(OSPlatform.Windows);`

[2020-05-19 16:59] GregorBiswanger commented on #393
If the latest Socket.IO version works without problems.. Then we can update it.. best try with the demo app if everything still works..

[2020-05-19 17:13] GregorBiswanger commented on #407
I see, we have already the following command:
`electronize start /dotnet-configuration development`

Works?

[2020-05-20 08:52] nazar322 commented on #407
It's an option to check for the platform in the runtime, but I also have executables embedded as a resource both for Mac and Windows and in order to embed a correct resource I use confitional including in csproj, like in the example below.
[code]
So I still need to pass the configuration needed.

[2020-05-20 09:02] nazar322 commented on #407
Unfortunately, it didn't work.
The following `dotnet publish` command does not contain `--configuration` argument. It is the same as when not passing `/dotnet-configuration` argument.
However, when I use the same `dotnet publish` command `electronize start` produces but just append `--configuration MYCONFIGURATION` it builds well.
I also have not found any references to `/dotnet-configuration`  in

[2020-05-20 09:40] AykutToprak opened #408 "Missing NotificationOptions Option"
* **Version**:  8.31.1

* **Target**: .NET Core 3.1

timeoutType option configuration is missing. Notifications are closed a few second later automatically. Is there any workaround to make notification permanent?

[https://www.electronjs.org/docs/api/notification#notificationtimeouttype-linux-windows](url)

[2020-05-20 10:01] syedadeel2 commented on #381
I'll reveal soon once I finish the solution. But no sockets for sure.

[2020-05-20 12:19] konstantingross commented on #408
No not without the timeoutType parameter. When I get home later, I'll take a look at it.

[2020-05-20 17:13] konstantingross commented on #407
#409

[2020-05-21 11:29] #408 closed

[2020-05-21 13:42] freosc opened #411 "ElectronNET.API.Entities.WebPreferences.ContextIsolation [DefaultValue(true)]"
I tested using Electron.net API and CLI 8.31.2
ElectronJS lists the WebPreferences.ContextIsolation default value as false ([https://www.electronjs.org/docs/api/browser-window]).

ElectronNet API decorates the WebPreferences.ContextIsolation property with [DefaultValue(true)] which results in not setting this value in WindowManager.CreateWindowAsync when serializing "options" to a Json object.

Th

[2020-05-21 14:40] cdespinosaagmx commented on #393
I only have one question about it, i updated to versions 8.31.2+, When i run ElectronNet project, menu is not working, i try to click Edit, View, Window, Help and it is not showing the dropdown, or popup. I had to clean something or it is a bug??

[2020-05-21 15:00] GregorBiswanger commented on #393
@cdespinosaagmx please see #401

[2020-05-21 15:11] cdespinosaagmx opened #412 "MenuItems not working"
* **Version**: ElectronNET API & CLI 8.31.2 +

* **Target**: .NET Core 3.1 + NodeJS v12.16.2

Steps to Reproduce:

1. Run the application with VS 2019 Electron.Net App
2. Try to click menu items

Nothing is happening when i click menu items like Edit, View, Window, Help in the application, it is something that is not happening in version 8.31.1

[2020-05-21 17:21] srameh commented on #412
I am getting the same error after upgrading to ElectronNET API & CLI 8.31.2

[2020-05-21 18:38] GregorBiswanger commented on #412
duplicate of #401

I suspect that with a more recent Electron version the rules have become a bit stricter... I will implement a workaround... or should it remain that way by default?

[2020-05-21 18:40] #407 closed

[2020-05-21 20:42] GregorBiswanger commented on #411
Fixed with the Electron.NET 8.31.3

[2020-05-21 20:42] #411 closed

[2020-05-21 20:59] GregorBiswanger commented on #412
I add an workaround for Electron.NET 8.31.3 - if someone has forgotten that a submenu exists and the type has not been set, this is now done automatically in the background.

[2020-05-21 20:59] #412 closed

[2020-05-22 08:50] srameh commented on #412
I added the submenu type and when I run it as "electronize start /watch" the menu works but when I build it it does not work. Any reason or workaround?

[2020-05-23 16:11] GregorBiswanger commented on #393
Updatet to socket.io 2.3.0 - publish with Electron.NET 9.31.1

if the problem persists, we can open the issue again

[2020-05-23 16:11] #393 closed

[2020-05-23 19:11] VictorioBerra opened #414 "Feature Request: Templates."
`dotnet new --install Electron.NET.Templates`
`dotnet new electron-blazor`

[2020-05-23 21:14] Spoomer commented on #165
try to add "using ElectronNET.API;" to both files

[2020-05-24 01:17] konstantingross commented on #393
I have run several tests and this time no connection was closed!  So it seems stable to me.

[2020-05-25 03:34] MarkBQE commented on #364
This is still an issue on Mac, I am running with Blazor, changed the Sungle Instance to true has no affect
![image](https://user-images.githubusercontent.com/23547957/82775899-f6bba200-9dfd-11ea-9352-837916491f1b.png)

[2020-05-25 13:13] sanosdole commented on #381
There is an existing solution for C#/JS interop without websockets: <https://github.com/sanosdole/nodeclrhost>

If there is any interest in using it, i could provide assistance.

[2020-05-25 13:17] GregorBiswanger commented on #381
@syedadeel2 can you check this please?

[2020-05-25 13:49] sanosdole commented on #381
Easiest way to review the capabilities:

1. Check out the repository
2. Go into `~/examples/electron-blazor` and run `npm run`
3. Read/Debug the dotnet source code for the browser (`~/examples/electron-blazor/LocalService`) & renderer process (`~/examples/electron-blazor/BlazorApp`)

Here is an old image from the example code that shows the first debugging of a Blazor App in Electron:
![Blazor App

[2020-05-25 13:52] GregorBiswanger commented on #381
@sanosdole Thanks! electron-blazor uses Electron.NET :)

But we will definitely look at this...
Possibly, can you even build a small prototype?!
Here is a YouTube video that explains something about Electron.NET under the hood:
https://www.youtube.com/watch?v=Po-saU_Z6Ws

[2020-05-25 14:01] sanosdole commented on #381
@GregorBiswanger Thanks! electron-blazor uses Electron.NET :)

The prototype steve sanderson did. [This one is an example from the nodeclrhost repository](https://github.com/sanosdole/nodeclrhost/tree/master/examples/electron-blazor). It does not use Electron.NET and also no WASM. It invokes the Electron APIs directly in process using the C#/JS Interop.

I know the Video and the inner working of E

[2020-05-25 14:26] GregorBiswanger commented on #381
@sanosdole everything sounds very exciting.. I will take a closer look at this tonight and how we could take it with us..

how does the communication of classic ASP.NET Core MVC / Razor Pages work out here?  They always need a web host to get their HTML pages?!

[2020-05-25 14:44] sanosdole commented on #381
I researched this when i started.  It is theoretically possible to skip opening a port using an electron resource handler implementation. But to get this working an alternative WebHost implementation is required and that would require some heavy (reverse-)engineering work. Especially making websockets (e.g. Server-Side Blazor) work would be quite an investment.

[2020-05-25 16:51] thomvandevin commented on #393
Hey,
Are there any particular files I need to setup or change to publish with socket.io 2.3.0 and ElectronNET 9.31.1?

[2020-05-25 21:28] MarkBQE commented on #364
Ok Fixed it. In the startup of Blazor server app please add the following code. what makes the .net process go away is Environment.Exit(0)

  Electron.App.WindowAllClosed += () =>
                  {
                      Electron.App.Quit();
                  };

                browserWindow.OnClosed += () =>
                  {
                      Electron.App.Exit(0);
                      E

[2020-05-28 06:50] AykutToprak opened #419 "Customize author/description is still broken"
* **Version**: v8.31.2

* **Target**: .NET Core 3.1

try to customize author and description as below (as mentioned in #310 )

"executable": "Test",
  "splashscreen": {
    "imageFile": ""
  },
  "author": "Test author",
  "description": "Test description"

But author is still "Gregor Biswanger" and description is still "Electron-Host for Electron.NET."

[2020-05-28 12:20] BurtsevC opened #420 "BeforeQuit bug"
- **Version**: v8.31.2
- **Target**: .NET Core 3.1
- **electron.manifest.json**: "singleInstance": true

Add a listener to Electron.App.BeforeQuit and show MessageBoxResult in it. Try to open the app again while MessageBoxResult is still opening. The problem is more than that, I saw it with Debian when I show MessageBoxResult, close it and tried to open the app for about 5 - 10 seconds after closi

[2020-05-29 00:21] GregorBiswanger commented on #419
I tested it again and it works for me?!
What operating system do you have and where do you read other information?

`
{
  "executable": "ElectronNETIssue419",
  "splashscreen": {
    "imageFile": ""
  },
  "name": "ElectronNETIssue419",
  "author": "Max Mustermann",
  "description": "Only a test description.",
  "singleInstance": false,
 ...
`

![image](https://user-images.githubusercontent.com/73

[2020-05-29 01:01] syedadeel2 commented on #381
This is was my original plan using JSInterop but I'm looking in different solution as I find the performance is not as what I'm expecting when doing a lot of calls. Other thing is that this good when you are app is running the in electron but what we are trying here to controls the electron on startup and hook events at this stage your app isn't loaded in the browser. to resolve this I'm actually

[2020-05-29 01:08] MarkBQE commented on #419
Greg,

I have the same issue. manifest file has no affect, I am using Windows 10.
![image](https://user-images.githubusercontent.com/23547957/83209882-3dffa680-a10e-11ea-85a1-bed06421da4b.png)

[2020-05-29 05:54] AykutToprak commented on #419
My  operating system is Windows 10. as @MarkBQE said manifest file has no affect. i used custom package.json for work around as `electronize build /target win /package-json "./package.json"` to solve problem.

[2020-05-29 07:47] sanosdole commented on #381
Well this is not true. The dotnet CLR is hosted by the node process using a native plugin. Everything is in one process and calls are native. We are directly hooking up dotnet code and JS code.

 The benchmarks in the `coreclr-hosting` package shows that invoking JS is of course slower than JS itself. (Mostly due to optimizations in the v8)
We are talking about 15000000 ops/sec on my machine. That

[2020-05-29 08:54] Velorien opened #421 "JavaScript error when accessing app window object"
* **Version**:
API and CLI 8.31.2

* **Target**:
Windows and Mac

Steps to Reproduce:

As per my client's report, they have left the application runnning for a longer while and then made an action that caused the following code to run:
[code]
The following message appeared:
![image](https://user-images.githubusercontent.com/3647931/83240625-f45c9d80-a199-11ea-80d4-93df6f5e7547.png)

I've also seen

[2020-05-29 19:29] GregorBiswanger commented on #419
@MarkBQE Is this the build version? Or with electronize start?

Which version of Node.js and Electron.NET do you have?

[2020-05-29 19:48] MarkBQE commented on #419
This is electronize start, in build it works as expected.

[2020-05-29 19:59] GregorBiswanger commented on #419
ahh okay, that explains a lot :) it only works with the finished build version...

Isn't that really relevant during development?!

[2020-05-29 20:01] MarkBQE commented on #419
I realized that it works in build after I posted this. I am OK with it the way it is as of now. I appreciate you looking into this. Keep up with the good work.

[2020-05-29 20:02] #419 closed

[2020-06-01 14:27] BurtsevC commented on #420
It's my fault, I have used RequestSingleInstanceLockAsync but forgot to ReleaseSingleInstanceLock in BeforeQuit.

[2020-06-01 14:27] #420 closed

[2020-06-02 15:21] Nydery opened #424 "Cannot "electronize init" without following Error"
* **Version**: API and CLI 8.31.2 on .NET Core 3.1

* **Target**: Windows 10

Description: I can't "electronize init" my project without getting the error shown in the picture provided.
![electron_error](https://user-images.githubusercontent.com/45046492/83537699-3288f280-a4f5-11ea-85b8-f2af1faa7f3f.jpg)

Steps to Reproduce:
1. Create a new Project
2. Do what is described in README.md
3. run "elec

[2020-06-05 18:09] IRHM opened #426 "Blazor WebAssembly Support"
I have used Blazor Server with ElectronNET and it has worked perfectly, but it doesn't seem to work with Blazor WASM.

[2020-06-06 12:33] Anseltis commented on #426
It would be better than awkward Blazor Server

[2020-06-07 12:46] freosc opened #427 "Hosthook.CallAsync<T> blocks execution when exception occurs inside"
API and CLI 8.31.2

* **Version**: 8.31.2

.net core 3.1, node 12.16.3

* **Target**: Windows 10

When using HostHook.CallAsync<T>(), my call is blocked when an exception occurs inside the CallAsync method, and code after my CallAsync doesn't get executed.
I updated the on complete handler in your HostHook.CallAsync<T>() code like this:
[code]
Which redirects the exception to the calling code, whe

[2020-06-11 17:59] kylethomas320 opened #428 "Socket IO disconnect leads to no IPC"
* **Version**: 8.31.2

* .NET Core version 3.1

* **Target**: Windows 10

When running my Electron.NET application for a while, sometimes a few minutes, sometimes up to half an hour, I get the following messages printed in my console:
[code]
After which no IPC can be processed, leaving my app in a frozen state in which just the JS works.

This seems to occur at random times, with no actual reason

[2020-06-11 20:56] GregorBiswanger commented on #426
I'm currently not fit in Blazor Server.. maybe my **[Electron.NET - Contributing Getting Started
](https://youtu.be/Po-saU_Z6Ws)** video on YouTube will help you to test it yourself, where there is the problem?!

[2020-06-11 20:59] GregorBiswanger commented on #427
Would you like to submit a pull request to us? [Electron.NET - Contributing Getting Started](https://youtu.be/Po-saU_Z6Ws)

[2020-06-11 21:01] GregorBiswanger commented on #428
We will now release Electron.NET 9.31.1.. it would be great if you could test the new version and give us feedback again..

[2020-06-12 00:06] sbondo1234 commented on #426
@GregorBiswanger I can take a gander, but no promises.

[2020-06-12 02:17] sbondo1234 commented on #426
`electronize start` causes this error:

https://i.vgy.me/ddA4bP.png

It's not showing the full path to the `.exe` so maybe it is wrong, I don't know how I would check or change the path that it is looking for.

[2020-06-12 06:42] freosc commented on #427
Sure

[2020-06-12 08:57] kylethomas320 commented on #428
Cool! When will Electron.NET 9.31.1 be released?

[2020-06-12 14:13] #427 closed

[2020-06-12 14:33] freosc opened #431 "Get properties that use Task.Run().Result seem to block execution"
* **Version**: latest from github 9.31.1

.net core 3.1 node 12.16.3

* **Target**: win

Steps to Reproduce:

1. In the demo Electron.Net WebApp, in ElectronBootstrap, I added these lines of code
[code]
2. The set property works fine, but I noticed that the get property blocks execution, so the console won't show the last line in the code block above.
Inside the property getter code I see that the

[2020-06-12 23:28] BurtsevC opened #432 "Description bug in setup file"
- **Version**: v9.31.1
- **Target**: .NET Core 3.1

Try to customize description in electron.manifest.json
  "author": "Constantine",
  "description": "Test"
The Setup file description is still "Electron-Host for Electron.NET." And also Comment of the lnk file after installation "Electron-Host for Electron.NET."

[2020-06-13 14:17] BurtsevC commented on #432
Fixed in #433

[2020-06-13 22:04] Elimil opened #434 "Prevent downloads"
Would it be possible to get the will-download event to Session class?
I would want to prevent certain file extensions to be downloaded.
Another thing would be that could do automation with specific filetypes.
More information of this at
https://github.com/electron/electron/blob/master/docs/api/download-item.md

[2020-06-14 08:23] #432 closed

[2020-06-14 14:17] freosc commented on #431
I discovered that it does work in sync methods, and doesn't work in async methods.
If you put the example lines of code inside the Program.CreateWebHostBuilder, like this:
[code]
This will work. But it'll fail when ran from an async method such as the
`public async void ElectronBootstrap()`
in your demo webapp, or in case somewhere upstream an async method is used.

I guess we're looking at the in

[2020-06-15 07:12] kylethomas320 commented on #428
I upgraded to 9.31.1 half an hour back, and have now seen the first appearance of a BridgeConnector disconnect
[code]

Does this `reason` help with solving the bug?

I'd appreciate the help!

[2020-06-16 11:00] jackcaldwell commented on #424
I'm currently having the same issue.

[2020-06-16 11:24] Nydery commented on #424
in my case, i was a folder before the right one, so maybe you have to move on one folder.

[2020-06-16 21:34] BurtsevC commented on #378
In OSX, I am usually doing something like this:
[code]
It will close the app in the dock. (Tested, It works)

If you want to minimize the window I would do something like: (Not tested)
[code]
and in C# do something like
`Electron.IpcMain.On("hide-window", (args) => MainWindow.Hide());`

[2020-06-18 18:09] SimonSchoeni opened #436 "Error accessing local resources"
Hello!

I'm currenlty using to Electron.NET to host an ASP MVC application. This application should be capable of displaying videos.

The videos are imported using the `file:///c:/local.../` format.
Whenever I try to access the video chromium tells me that it is not able to load the local resource: "Not allowed to load local resource: file///c:/local.../"...

When starting up electron, it uses the

[2020-06-18 21:46] GregorBiswanger commented on #436
It should normally be sufficient to just deactivate WebSecurity. Possibly. do you want to access a directory without direct access? Have you already run the Electron app as admin? For test only? Did you test the path without an electron?

I would always have the path put together by tools so that it remains a cross-platform.. Use `Path.Combine`..

[2020-06-19 07:56] SimonSchoeni commented on #436
Hi!

I have access to the directories since I used Electron to save data in the same directory.

I didn't really bother to run electron as admin since it should not be required since I'm able to store data to the directory.

I opened the file:/// link in chrome and I saw the file.

Thanks for the advice, I already use Path.Combine etc. :)

BR Simon

[2020-06-19 19:42] jacobestell opened #437 "Dotnet Tool Manifest File Support"
I don't like installing dotnet tools globally and with the new tools manifest file, it is no longer necessary.

It'd be great if you supported the manifest file for the debugging profile you add and updated the documentation to use the manifest file.

Thanks!

[2020-06-20 08:32] kylethomas320 commented on #428
I'm still in need for a fix for this bug, is there no way to just reset the existing event listeners after a reset? That would at least suffice as a temporary fix. Right now the entire backend just hangs due to the crashed communication.

[2020-06-20 15:57] iwate commented on #428
same too. on 8.31.2 and 9.31.1
8.31.1 not disconnect. it seems good.

[2020-06-20 21:29] GregorBiswanger commented on #437
You need the dotnet tools to start and create an Electron.NET app..

What is meant by new tools manifest file?

[2020-06-21 18:10] ionutmihai1995 opened #438 "Speech Recognition does not working in ElectronNET"
I have a Blazor application using Speech Recognition.

After using ElectronNET, the speech recognition does not working. In the logs it appears that microphone is ok, but I don't know why speech recognition does not work

[2020-06-23 07:00] raftopyannis commented on #152
Hi i am trying to build the application for the 32 bit version and i still receive the error

[code]

I am using the electron.NET CLI version 9.31.1 on a Windows 10 machine
I tried to build it using the following command:

`electronize.exe build /target custom win-x86;win /dotnet-configuration Debug /electron-arch ia32`

[2020-06-23 07:14] yannisraft opened #439 "Hi i am trying to build the application for the 32 bit version and i still receive the error"
Hi i am trying to build the application for the 32 bit version and i still receive the error

[code]

I am using the electron.NET CLI version 9.31.1 on a Windows 10 machine
I tried to build it using the following command:

`electronize.exe build /target custom win-x86;win /dotnet-configuration Debug /electron-arch ia32`

_Originally posted by @raftopyannis in https://github.com/ElectronNET/Electro

[2020-06-24 13:28] MopsieX commented on #428
This happens to me randomly. Sometimes it happens within 5 seconds of the app launching and sometimes after an hour.

[2020-06-27 10:12] jadhavrani123 opened #440 "how to open only single instance of electronnet exe"
Hello Sir,
I am trying to  open only one instance of app window.I am setting option in electron.manifest.json file singleinstance=true,
It works but when my exe is in system tray it doesnt get open when click on exe icon.I want your help  for that problem.Means when I click on exe icon the same window should get open which is in system tray.

[2020-06-30 07:35] Velorien commented on #428
@GregorBiswanger is there a way to manually restore the connection in this situation? I'm experiencing similar issues on Windows, but unfortunately they happen at random, except when the machine is put in sleep mode and sleeps for a while, in which case it's almost guaranteed that upon waking the pc up, there will be no IPC.

[2020-07-01 11:08] freosc commented on #381
@syedadeel2 Did you reach any progress on this one? I'm anxious to know cause I need to decide whether to use ElectronJs with or without Electron.net.

[2020-07-01 11:15] GregorBiswanger commented on #381
@freosc You can use Electron.NET without problems. We would change the communication, but without breaking changes here.

[2020-07-01 11:21] freosc commented on #381
Many thanks for the work you've done to this project already. But can you give me an expected ETA of the new IPC backend? I'll be one of the pioneers to test it ;)

[2020-07-01 11:24] GregorBiswanger commented on #381
@freosc Do you have currently problems with the current one?

I have no time plan, I think the next weeks we have more Infos for you.

[2020-07-01 11:36] freosc commented on #381
The problem I have is the disconnecting issue (Got disconnect! Reason ping timeout). Even with 9.31.1 and the latest SocketIO client.
If I leave the app running for a few hours on a test PC without doing anything (actually 2 hours seems to be enough), a disconnect occurs (ping timeout), after that, all communication is broken between browser and .net core mvc app.

[2020-07-02 19:10] HaydnDias opened #441 "Unable to publish/build on windows"
* **Version**: 9.31.1

Node.js version: 12.18.2 (upgraded from 12.13.1 when the issue started)

* **Target**: win

When running `electronize build /target win`, the build errors out with:  `Unknown argument: .`

This started today after upgrading the dotnet electronnet.cli tool from 5.30.1 -> 9.31.1, I was running it  most of the day doing builds and then suddenly with the same commands and withou

[2020-07-03 01:10] MopsieX opened #442 "socket.io connection event after disconnect event loses all browserWindow references"
* **Version**: 9.31.1

* **Target**: Windows 10

When the socket in main.js gets disconnected it deletes all the requires and then it will connect again. When the connection event fires again it reinitializes all of the requires however the windows[] and window variable aren't ever set in browserWindows.js. To fix it the main.js just needs to copy the references of all the windows before it delete

[2020-07-03 01:15] MopsieX commented on #428
I found a possible work around however it isn't great.
You can create a Ping function in Javascript to send a Ping message through the IPC every few seconds.
`setInterval(function () { ipcRenderer.send('Ping', "ping"); }, 10000);`
Then in C# you can create a new task that checks how long ago the last ping was. If the ping was longer than x seconds recreate the menu bar. Recreating the menu bar mak

[2020-07-03 10:35] xcs-katsuki commented on #441
Hi.

I have same problem.

I ran the following command after electronize build command.
`npx electron-builder --config=./bin/electron-builder.json --win --x64 -c.electronVersion=9.0.3`

Because error said the period is unknown, I erased the period that at after 'electron-builder'.

[2020-07-03 11:11] puddleme commented on #441
Hi,

I am having this issue aswell.

Running `electronize build /target win `, I am getting `Error: Unknown argument: .`

I've tried on my dev machine and on a fresh machine that hasn't worked with Electron before. Also tried changing electron cli, node versions and building a branch that worked in the morning yesterday. Each time I get  `Error: Unknown argument: .`

[2020-07-03 20:24] lucasferla7 commented on #441
Hello,

I'm having this issue to.

Versions:
- Net Core: 2.2
- ElectronNet: 5.22.14
- ElectronNet.CLI: 5.55.14
- Node: 12.18.2

[2020-07-04 04:30] rbaker26 commented on #441
Same problem, but I cannot build on Windows or Linux (WSL2 -HyperV)
I have attached my Makefile and the script file of it running on Ubuntu 18.04 (WSl2-HyperV VM)
In this make file, I tried to build all the targets.
This Makefile has worked for me previously and has made viable builds for Windows and Linux.

I had to add .txt to my Makefile and scriptfile to attach it to this comment.
[Makefile .t

[2020-07-04 05:24] syedadeel2 commented on #381
I'll update you guys soon, Sorry just got caught with COVID-19 stuff within my organization and I'm hardly getting time for me. But let me give you guys some insight I'm working with Edge.js to use In-process method to avoid the Sockets. I'll soon complete the small prototype and share with @GregorBiswanger. Once we got agreed we will start working on the full project not sure maybe a separate rep

[2020-07-04 06:27] rbaker26 commented on #441
@GregorBiswanger
@HaydnDias
I summited a PR to fix this issue.
See PR #443

[2020-07-04 06:58] sanosdole commented on #381
@syedadeel2 If you are using [EdgeJS](https://tjanczuk.github.io/edge/#/) please consider switching over to [nodeclrhost](https://github.com/sanosdole/nodeclrhost).

We have written `nodeclrhost` because `edge.js` is a dead project. It has not been updated for some years now (last commit on [official repo](https://github.com/tjanczuk/edge) is more than 3 years ago) and has no official support for

[2020-07-04 07:19] rbaker26 commented on #414
@VictorioBerra
This looks like something I may want to try to implement just to learn.

How do you think this should look?
Would `dotnet new electron-blazor` create the default SPA app that is created with a new Blazor App + all the Electron.NET hookups? Or would a more tailored default app be better?

Do you have any specifics in mind?

[2020-07-04 09:31] zenith6495 commented on #441
I've noticed this issue is caused by electron-builder, as electronize build runs npm install electron-builder latest v22.7.0 which does not accept "." in the command thus causing the issue. If you try to manually install electron-builder v21 or v20 it will build without issue.

[2020-07-04 09:53] jadhavrani123 commented on #441
I am also facing same problem of unknown argument . in  npx electron builder command .Please give some solution.

[2020-07-04 19:48] rbaker26 commented on #441
@zenith6495 @jadhavrani123
I submitted a PR to fix this issue already.
The Gegor, the repo admin, has added it to milestone 9.31.2, so it should work itself out once the milestone gets published.

[2020-07-04 20:05] VictorioBerra commented on #414
You could do it like https://github.com/Dotnet-Boxed/Templates

Where you have tons of configurable options but if you specify nothing you get the default. In this case I think you should get a working electron app with blazor with sensible defaults that you would want for any new project with reduced boilerplate.

[2020-07-04 20:54] rbaker26 commented on #414
Cool, I'll take a look and see what I can come up with within my own fork.
If it's something worth sharing, I link the PR to this issue.

[2020-07-04 22:24] #441 closed

[2020-07-04 22:30] GregorBiswanger commented on #438
Do you have a small demo app for me?

Possibly. have you already tried it in the browser? Without Electron.NET?

[2020-07-04 22:35] GregorBiswanger commented on #441
Hello Community, It is an electron builder problem that has a parameter removed. We got a PR with a solution. I think on Monday version 9.31.2 should be released as soon as possible. Big thanks to @rbaker26 for the PR...

[2020-07-04 22:48] HaydnDias commented on #441
@GregorBiswanger Thank you for the quick update, I thought removing the . was going to be the fix but wasn't fully sure why it was there to begin with, thanks again!

[2020-07-05 08:44] syedadeel2 commented on #381
@sanosdole I can see what you are saying :) I have forked your nodeclrhost let me try that as well.

[2020-07-06 08:46] Velorien commented on #442
This seems like a probable cause for #421

[2020-07-06 09:00] LukeTOBrien commented on #115
@robertmuehsig This should be on your main documentation (if you can call a readme main documentation), I just had and same thing and came to this issue after a Google search - Everyone who uses Electron.NET is going to have the same issue

[2020-07-06 09:03] JakStark opened #444 "electron-builder | Unknown argument: ."
Electron.NET CLI: 9.31.1
Node.js: 12.18.2
.NET Core: 3.1
Target: win

When I launch command "electronize build /target win" I receive following error:
**Unknown argument: .**

I found that this error is throwed from file ElectronNET.CLI/Commands/BuildCommand.cs at line 189, after launched command "npx electron-builder . --config=./bin/electron-builder.json --win --x64 -c.electronVersion=9.0.3".

I

[2020-07-06 09:15] vituthanh commented on #444
me too

[2020-07-06 11:00] hojlind commented on #444
This is a known issue, and is a duplicate of #441
A PR (#443) has been created and should be up during today according to @GregorBiswanger

[2020-07-06 11:22] HaydnDias commented on #444
This has been fixed in #443 as raised in #441 , I think the plan was to release it today. @JakStark @vituthanh

[2020-07-06 11:26] vituthanh commented on #444
I hope Electron NET.CLI will be updated soon.

[2020-07-06 13:07] MopsieX commented on #442
Yup you are correct. I get that same error message you get once it happens. Thanks for linking it and having a picture of the error in your bug report. I forgot to include a screenshot of the error message when the bug happens.
Hopefully 9.31.2 is released today with this fixed.

[2020-07-06 13:27] vituthanh commented on #444
After replace dotnet-electronize.dll file from git source at folder
C:\Users\{username}\.dotnet\tools\.store\electronnet.cli\9.31.1\electronnet.cli\9.31.1\tools\netcoreapp3.1\any
My project was built successfully.

[2020-07-06 18:52] rbaker26 commented on #444
@vituthanh @JakStark
Make sure you update the dotnet tooling (not automatic)
[code]
**On Windows**
![image](https://user-images.githubusercontent.com/31376573/86628570-ef4ff280-bf7e-11ea-9fb2-cf8b394739cc.png)
**On Linux**
![image](https://user-images.githubusercontent.com/31376573/86628737-2a522600-bf7f-11ea-8fde-97d3790fea48.png)

[2020-07-06 19:01] MopsieX commented on #442
@GregorBiswanger  @Velorien Unfortunately this isn't fixed in the newest version so the problem is still here.

[2020-07-06 19:12] rbaker26 commented on #444
This is also noted in the README.md under **Important Notes**
See #445 for up to date version numbers.

[2020-07-06 19:13] GregorBiswanger commented on #444
Hey Community, we have released version 9.31.2 with the electron-builder fix! In addition, I have improved the socket problems again and updated to Electron 9.0.5.

[2020-07-06 19:13] #444 closed

[2020-07-06 19:15] GregorBiswanger commented on #442
Hey Community, we have released version 9.31.2 with the electron-builder fix! In addition, I have improved the socket problems again and updated to Electron 9.0.5.

Please remove in your `obj` folder the `Host` and `Desktop` folder and try again with the newest Electron.NET API and CLI in 9.31.2.

[2020-07-06 19:16] GregorBiswanger commented on #428
Hey Community, we have released version 9.31.2 with the electron-builder fix! In addition, I have improved the socket problems again and updated to Electron 9.0.5.

[2020-07-06 19:30] MopsieX commented on #442
Thanks I will do that!

[2020-07-06 19:31] kylethomas320 commented on #428
Great news! I will check it out tomorrow and throw some tests at it.

[2020-07-06 20:32] kylethomas320 commented on #428
Just a quick update, I decided to update it this evening to give it a quick check. I noticed that disconnects still happen after a while, see log:
[code]
These two disconnects happened within 10 minutes of each other after i left my laptop idle for a while.
Is there a way for me to provide a more detailed error, such that fixing it becomes easier?

I'll keep an eye on the disconnects tomorrow and

[2020-07-06 20:39] GregorBiswanger commented on #428
A reconnect shouldn't be bad .. the only important thing is that the events continue to work .. everything else works?

I once made a contribution video .. if necessary you can debug yourself and see why?
https://youtu.be/Po-saU_Z6Ws

[2020-07-06 21:02] kylethomas320 commented on #428
Aha, my apologies.. I misunderstood as to the fact that it would not disconnect at all anymore. In the meanwhile I made a similar construction as @MopsieX described, so I hadn't tested your reconnection fix yet.

I tested it yet again just now, and unfortunately it seems that the events are still removed upon disconnect.
I'll look into the contribution video tomorrow, thanks for the heads up!

[2020-07-06 22:04] MopsieX commented on #442
@GregorBiswanger  It disconnects less often now but on reconnect the property [windows](https://github.com/ElectronNET/Electron.NET/blob/master/ElectronNET.Host/api/browserWindows.js#L4) never gets populated with the existing windows which means the app needs to be restarted.

[2020-07-06 22:26] MopsieX commented on #442
I think I fixed the bug in the source. I'm testing it now but I need to wait for a disconnect.

[2020-07-07 01:10] rbaker26 opened #446 "X-Platform Building Broken - R2R"
X-Platform Building does not work.  Seems to be a problem with Ready2Run (R2R).
This problem occurred for me after updating to 9.31.2.
For debugging, I tired the following test of both [My Project](https://github.com/rbaker26/SAP1EMU/) and the [Demo Project](https://github.com/ElectronNET/electron.net-api-demos)

* **Version**:  9.31.2.0

* **.NET Core**:  3.1.301

* **Target**: See Table

**Befor

[2020-07-07 02:03] MopsieX commented on #442
Never mind I was wrong. It's a lot harder to fix than I thought it was. I've learned a lot about how Electron.Net works so tomorrow I should have more luck fixing it.

[2020-07-09 12:55] Altamiraozan commented on #441
is this solved for latest version? (.net core 3.0)

[2020-07-10 08:04] bravecobra opened #447 "The buildCommand of electronize should allow passing build parameters for dotnet publish"
When publishing a dotnet project you're allowed to pass extra parameters to the msbuild process, like '/p:SemVer=1.2.3', that you can reference in the csproj. However the electronize forces you to publish the dotnet project without these. Just as you can pass extra parameters to the electron-builder, you should be able to pass extra parameters to the dotnet process.

Implementing this would be fai

[2020-07-10 12:27] syedadeel2 commented on #381
@sanosdole @GregorBiswanger I have sent you guys an invite to join my private repo where I'm pushing the code for the new version. It's not ready yet just a skeleton but just added you guys so we can create the project and think about what to add and what not.

[2020-07-12 06:19] #424 closed

[2020-07-13 00:34] stonkie opened #448 "Ability to replace the repository from package.json to allow github publishing"
I used electron.net to build a Blazor sample that runs on a Raspberry Pi. I automated the CI/CD pipeline using AWS CodeBuild.

Everything works fine and my artifacts are correctly available through S3, but I cannot get electron-builder to publish to github.

It keeps trying to publish to Electron.Net's github repository which is configured in the package.json file although I configured the correct

[2020-07-13 14:41] freosc commented on #442
I added
`socket.removeAllListeners(); `
to the socket.on('disconnect', function (reason) function in main.js
But that doesn't seem to help.
After 10 socket disconnect/reconnect I get:

I'm not sure if it's related to the removeAllListeners or not. It's hard to debug this code and reproduce 10 disconnects.

[2020-07-15 05:45] ctrl-alt-d opened #449 "Unable to Show local image file:///tmp/someimage.jpg"
First, sorry about to post a question.

The issue is that I'm not able to show local images via `<img src="file:///path/to/someimage.jpg ...`.

I posted the question on Stack Overflow 9 days ago:

* https://stackoverflow.com/questions/62741325/show-local-image-file-tmp-someimage-jpg  _(+50 bounty)_

Is someone so kind to give me instructions about how can I show on electron window picture files fr

[2020-07-16 09:03] HermesNew commented on #442
We also encountered the same issue, this issue is more urgent.

[2020-07-16 09:04] HermesNew commented on #442
@MopsieX  Do you fixed the bug?

[2020-07-16 13:28] hojlind commented on #299
This still applies, and should definitely have a more prominent place, perhaps in the readme?

[2020-07-18 09:08] oliexe opened #451 "Handling custom (MyApp://) protocol on MacOS"
**Electron.NET version:** 9.31.2
**Target platform:** MacOS

I need to handle the login token from the custom protocol (MyApp://) but I am unable to handle the passed arguments to the app. I have successfully registered the application as a protocol hander and it gets launched/opened in the app directly from safari by using :
`await Electron.App.SetAsDefaultProtocolClientAsync("MyApp"); `
and sett

[2020-07-19 17:56] kojo12228 opened #452 "Not able to run F# Core MVC projects"
* **Version**: 9.31.2

.NET Core Version: 3.1
Node.js Version: 12.13.0

* **Target**: Windows (10)

First of all, this is a very interesting project that I'm excited to experiment with for building small projects.

The application doesn't work for F# ASP.NET Core MVC applications, or Blazor (using Bolero). While `electronize init` throws an exception due to only `.csproj` projects being searched,

[2020-07-19 19:40] pgrudzien12 commented on #245
I'm experiencing same issue. For me this is happening every time.
I'm creating new .net server-side blazor project on VS 2019. Then I added added ElectronizeNET.CLI nuget version 9.31.2 and entries to startup.cs and program.cs. The I run electronize init and get the error.
I'm using .net core version 3.1.

[2020-07-20 19:03] mcmah309 commented on #245
I am also experiencing this same issue

[2020-07-21 01:21] HermesNew commented on #442
@GregorBiswanger How long will this bug be fixed?

[2020-07-21 13:12] marlonrodriguezpinto opened #454 "Reoccurred Issue #288 now with electron-builder version 22.7.0"
Version: 22.7.0
Target: Windows

Steps to Reproduce:
Performing a regular build with
`electronize build /target win`
fails since the Build Command seems to pass invalid CLI arguments to electron-builder with
`Unknown argument: .`

electron-builder  version=22.7.0
electron  version=8.2.3

[2020-07-21 13:35] AykutToprak opened #455 "Socket Disconnection Error"
* **Version**: 9.31.2
* **CLI Version**: 9.31.2

* **Target**:  .NET Core 3.1

Got disconnect! Reason: transport close
ASP.NET Core Application connected... global.electronsocket fVcXgik5tZt05sn7AAAB 2020-07-21T13:23:13.319Z
stdout: BridgeConnector connected!

As it showed above socket are disconnected and reconnected again. This caused problem for IPC Listeners. I guess they are somehow removed.

[2020-07-21 20:43] ThuCommix opened #456 "GetAppMetricsAsync() does not return anymore"
* **Version**: 9.31.2
* **dotnet core**: v3.1.101
* **node**: 8.12.0

* **Target**: Windows

After upgrading from the latest 8.xxx version the method Electron.App.GetAppMetricsAsync() does not return anymore.

Steps to Reproduce:

1. var metrics = await Electron.App.GetAppMetricsAsync(cancellationToken);

[2020-07-22 11:25] kojo12228 commented on #452
I realised that step 4 didn't actually run the async code, so it should be:

[code]

I'll make a pull request to fix the `electronize init` issue with .fsproj projects.

[2020-07-22 13:20] ThrDev commented on #451
Hey @olirehacek!

At a quick glance, it doesn't appear that 'open-file' or 'open-url' is implemented in Electron.NET.

https://github.com/ElectronNET/Electron.NET/search?q=open-file&type=Code

[2020-07-23 23:07] MopsieX commented on #442
I haven't fixed it. I got super busy and haven't had more time to try to fix it.

[2020-07-25 02:34] MopsieX opened #458 "Can't change the bounds on a BrowserView before calling browserWindow.SetBrowserView"
* **Version**: 9.31.2

Steps to Reproduce:

1. Create a BrowserWindow

[code]
2. Create a BrowserView(`BrowserView bv = await Electron.WindowManager.CreateBrowserViewAsync();`)
3. Set the Bounds of the BrowserView

[code]

4. Set the BrowserView(`browserWindow.SetBrowserView(bv)`)

If you set the bounds of the BrowserView before you call SetBrowserView the BrowserView's bounds will be {0,0,0,0}. O

[2020-07-27 07:57] olirehacek commented on #451
Thanks @ThrDev ,
Are you aware of any way/workaround I can handle the custom URL in Electron.NET. We have app that cannot be flipped into production because we can't log in to our service while using the oauth window. It's actually pretty serious.

[2020-07-28 17:45] MopsieX opened #459 "IPC with a BrowserView that doesn't have a BrowserWindow"
Currently you can only send IPC messages to a BrowserView that is in a BrowserWindow. Being able to send IPC messages to a BrowserView that isn't currently set as the BrowserView of a BrowserWindow would be very useful.

[2020-07-29 11:46] rakista112 commented on #455
I've been facing this issue too. One minute all IPC works properly, then a transport error appears and it doesn't try to reconnect.
Here is the error that's being displayed.
`Got disconnect! Reason: transport error
ASP.NET Core Application connected... global.electronsocket dZkuRoGtHpejWwBYAAAC 2020-07-29T11:42:47.602Z
stdout: BridgeConnector connected!

stdout: dbug: Microsoft.AspNetCore.Server.K

[2020-07-29 19:08] DavidNorena commented on #451
Same here, we are dealing with the same issue :(

[2020-07-30 12:04] rakista112 commented on #381
@syedadeel2  I could help with mac efforts in the new IPC backend if you invite me to the repo.
Our project is invested in Electron.NET and we are facing the disconnect/no-reconnect issue in Mac.

[2020-07-30 14:08] rakista112 commented on #442
@MopsieX could you share your plan with us so we can help?

[2020-07-30 14:46] danatcofo opened #460 "Browser Windows created too close together have the same Id"
I've opened multiple new windows via `Electron.WindowManager.CreateWindowAsync(options, url)` and the resulting windows all share the same Id value if they are opened close enough together. If they are created with enough time separating the creations the id's increment as expected.

[2020-08-03 00:37] danatcofo opened #461 "HostHook event isn't being called"
* **API**: 9.31.2
* **CLI**: 9.31.2

* **Windows**: NETCORE3.1

Steps to Reproduce:

1. run electronize add hosthook
2. add this to onHostReady in index.ts
[code]
3. add this to a tray menu
[code]
4. run the code and select Open a file from the tray menu option.
5. observe that the `Calling showOpenDialogMain` and `HostHook has been initialized` are both in the logs but `showOpenDialogMan has been

[2020-08-03 22:30] Elimil commented on #451
Same problem here, would really require this to work.

[2020-08-04 10:25] olirehacek commented on #451
Any news on this ?

[2020-08-06 14:28] TheKitro opened #462 "electronize start Exception (Directory not Exists)"
Hi
I get an exception after execute: electronize start
[code]

I created a Project of Type: ASP.Net Core Webapplication with .Net Core 3.1 an Webapplication Model-View-Controller Style
Added the Electron.net in Nuget.
Then I inserted:
[code]

and

[code]
No Errors in the Syntax after inserting the usings.
Compiling works but I can't run it.
In the Console I change the Path to the Directory with *.

[2020-08-06 15:32] TheKitro commented on #462
Found the Solution. I have to install node.js

[2020-08-11 22:23] weebs commented on #245
Experiencing the same issue here on a WebAPI project

[2020-08-12 08:30] freosc commented on #381
@syedadeel2 Did you reach any progress? What's the plan? If extra help is needed, I'm also willing to do something.

[2020-08-12 10:06] GregorBiswanger commented on #381
@freosc  The last few weeks I've been busy with my business. I think I will have time for that in the next few weeks.

[2020-08-13 09:07] syedadeel2 commented on #381
that's why I was wondering where you gone :)

[2020-08-13 10:49] duncanawoods commented on #345
@GregorBiswanger I'm seeing this problem in 9.31.2.0. If I set the browser window size, fonts using rem become tiny. Can you please point me towards the cause and the commit that fixed it last time and I'll try to fix it?

[2020-08-13 12:20] duncanawoods opened #464 "buildall.sh fails on linux - NETSDK1095: Optimizing assemblies not supported for osx/win"
Here is the full log:

[code]

[2020-08-13 19:27] duncanawoods opened #466 "File protocol fails with ERR_UNKNOWN_URL_SCHEME"
This can be seen on the music player sample with the latest source versions when it tries to play a file using an url like:

    `file://somepath/music.mp3`

Its an electron issue: https://github.com/electron/electron/issues/23757 with some workarounds.

I'll submit a pull-request.

[2020-08-13 19:57] duncanawoods commented on #464
Ah, this is a dupe of #446

[2020-08-13 21:53] duncanawoods commented on #345
@GregorBiswanger  The problem in `WindowManager.cs`, if the position is set then it uses a different serialiser for the BrowserWindowOptions:

[code]

However, not all default values are set:

[code]

Setting this value seems to fix the issue but we need to 100% certain all the option defaults are correct.

[2020-08-14 10:44] #452 closed

[2020-08-14 11:31] GregorBiswanger commented on #466
Thank you very much for your pull request. Will be released with the next update.

[2020-08-14 11:31] #466 closed

[2020-08-14 11:31] GregorBiswanger commented on #464
Thank you very much for your pull request. Will be released with the next update.

[2020-08-14 11:31] #464 closed

[2020-08-14 11:32] GregorBiswanger commented on #446
Fixed in the new version from Electron.NET 9.31.3.

[2020-08-14 11:32] #446 closed

[2020-08-14 11:32] #462 closed

[2020-08-14 13:10] GregorBiswanger commented on #461
Electrons `dialog.showOpenDialog` function requires a renderer instance (window). There are some bugs in your code.

You need JsonSerializer options from NewtonsoftJson for the OpenDialogOptions.
[code]

With the HostHook project, you have to send your asynchronous response back via a done callback.
[code]

The code snippets work for me. I hope I have helped you with the informations.

[2020-08-14 13:17] GregorBiswanger commented on #460
I couldn't recreate the problem. Do you have a sample project? Possibly. find the problem and could submit a pull request. However, an example project would be useful for testing.

[2020-08-14 13:19] GregorBiswanger commented on #455
Normally the socket connection should restore the registrations. Have you lost these?

[2020-08-14 16:15] danatcofo commented on #461
Thanks.. that worked however, I did alter your working example here to function without having windows already created.

[code]

[2020-08-14 16:15] #461 closed

[2020-08-15 00:06] aksoftware98 opened #469 "Ipc is not working with a Blazor Server project"
* **Version**:

Currently using the latest version of Electron.NET with Blazor Server & .NET Core 3.1
And building the project for Windows

I have multiple razor pages but I cannot have the communicate works between them via Ipc

Steps to Reproduce:

1. Created a razor page and with button and having a handler so when I click the button I send the following message like that
 `var window = Elelctr

[2020-08-15 07:10] NMSaiyed opened #470 "Using Electron.Net with Entity Framework"
Hello there,
I have tried to create web(ASP.Net Core 3.1) project with Angular. And used EntityFramework(3.1.5), Microsoft.AspNetCore.Identity.
When I tried to execute this project with **electronize start** I am getting error as below.

 An unhandled exception occurred: Job name "..getProjectMetadata" does not exist.
  See "C:\Users\User-1\AppData\Local\Temp\ng-Mz6O16\angular-errors.log" for furt

[2020-08-17 18:29] Hisaack opened #471 "How to use require('request') in Electron.NET"
Hi everyone, I have ASP CORE Project and I have installed this package of Electron API and it is working fine. I want to add request module but I keep on getting error
![Screenshot (190)](https://user-images.githubusercontent.com/40029080/90430608-6fb25900-e0d0-11ea-99fb-62d54860aea1.png)

I have tried to install the package through `npm install request --save` on cmd I opened on my project folder

[2020-08-17 19:23] GregorBiswanger commented on #471
Are you using this with the HostHook feature?
Can you provide a sample project?

[2020-08-17 19:26] Hisaack commented on #471
Am not using HostHook feature. Sure let me compile and push it to the github

[2020-08-17 19:32] GregorBiswanger commented on #471
okay, the problem is, you want to use require within html with javascript (renderer process). You should use the HostHook feature for your own node module packages. Download the API demo app and take a look at the "Execute your own TypeScript code" part.

https://github.com/ElectronNET/electron.net-api-demos/releases/tag/v5.22.13
https://github.com/ElectronNET/electron.net-api-demos

[2020-08-17 19:52] Hisaack commented on #471
Okay, Let me try, and by the way do Electron.NET Api supports the downloading feature? I wanna download a file from the server and update the progress bar on status progress. I can't see this feature available.

[2020-08-17 19:54] GregorBiswanger commented on #471
See that solution for you: [How to download a file in ASP.NET Core](
https://stackoverflow.com/questions/45727856/how-to-download-a-file-in-asp-net-core)

[2020-08-17 20:16] Hisaack commented on #471
When I try to add hosthook on command CLI, it refuses. I used this command `electronize add hosthook`
![Screenshot (192)](https://user-images.githubusercontent.com/40029080/90440292-a643a000-e0df-11ea-81be-03772e2830e4.png)

[2020-08-17 20:20] GregorBiswanger commented on #471
Use the command for one time in your project folder... that creates a ElectronHost folder in your project with package.json.. into this use the `npm install request`. by the way... the best is here to use the native asp.net core download features... use only the Host Hook feature for native JavaScript/TypeScript code with node.js..

[2020-08-17 20:31] Hisaack commented on #471
Am sorry again, am trying to invoke this command `dotnet electronize add hosthook` or `electronize add hosthook` to create ElectronHost folder and it is not working. Is there anything am missing, yes this is my first time am trying to execute this command.

[2020-08-17 20:54] Hisaack commented on #471
![Screenshot (192)_LI](https://user-images.githubusercontent.com/40029080/90443414-e5c0bb00-e0e4-11ea-97b1-ac4504eb51f1.jpg)

This is what am describing here. I dont know why it does not recognize this command. It says `unknown command ass`

[2020-08-17 21:01] GregorBiswanger commented on #471
Use the command in your project and use the Electron.NET CLI and API with Version 7.30.2 for .NET Core 3.0 Support.

[2020-08-19 00:45] cristiangiagante opened #472 "Please help me to use js library in electron app"
Hello guys could you please explain how to achieve this?

I'm adding two js files from cdn in my _Host.cshtml, but at time to use the methods exposed by this libraries I have this result:
![image](https://user-images.githubusercontent.com/7245667/90579237-cd5fa780-e19b-11ea-95d2-1bbc640cee86.png)

The library that I'm trying to use is called toastr (https://github.com/CodeSeven/toastr).  but I can

[2020-08-19 22:09] vleeuwenmenno commented on #183
I am trying to execute some JS code as well, but so far I have not found any solution. I am in need of the `executeJavaScript(string)` function.

[2020-08-20 12:05] cissemy opened #473 "Blazor wasm"
🚨 The issue tracker is not for questions 🚨
How to convert my Blazor client side app into desktop app using Electron.NET?

[2020-08-20 12:14] GregorBiswanger commented on #473
https://youtu.be/FsRoJ0_VtDw
https://www.youtube.com/playlist?list=PLFJQnCcZXWjvXujo78QdOEv64xTBttYMz

[2020-08-20 12:14] #473 closed

[2020-08-20 16:03] AykutToprak commented on #455
Socket connection is restored however IPC Listeners are not. Commitications between front-end and back-end are completely disconnected

[2020-08-24 08:30] hhfranzo opened #475 "Main Browser Window does not appear."
Hi,

I've just updated the Electron .NET nuget package to the latest one. Since then, the application does not start in the Electorn Browser Window anymore when I run "electronize start".  The last lines prompted are:

MyApplication\obj\Host\node_modules\.bin>electron.cmd "..\..\main.js"
Electron Socket IO Port: 8005
Electron Socket started on port 8005 at 127.0.0.1
ASP.NET Core Port: 8006

...and

[2020-08-24 08:44] hhfranzo commented on #475
I solved the issue by myself.
I deleted the bin and obj folders, re-run everything and now it works!

[2020-08-24 08:44] #475 closed

[2020-08-24 12:01] PeterPolaschek opened #476 "Access BrowserView DOM objects in Electron.NET"
Hi guys,
I have an Electron App with a BrowserView in the main BrowserWindow. In the BrowserView, I load an external URL:
[code]
To access the BrowserView's content, I send it to the renderer.js:
[code]
In renderer.js, I can access the BrowserView's content:
[code]
I want to do the same within an Electron.NET application but there doesn't seem to be the following function:
`view.webContents.send("

[2020-08-26 09:22] freosc commented on #476
If you take a look at the IPC view and controller in the ElectronNET.WebApp example project, you'll see how it's done.
[code]

[2020-08-27 07:25] windhuan commented on #183
i used LoadURL  to exec javascript .

                browserWindow.WebContents.OnDidFinishLoad += () =>
                {
                    browserWindow.LoadURL("javascript:alert('111')");
                };

[2020-08-27 17:50] Delpire commented on #454
I am running into this issue as well. @marlonrodriguezpinto were you able to find a way around this issue?

[2020-08-27 18:03] Delpire commented on #454
It seems the solution is to uninstall the ElectronNET-CLI tool and reinstall it.

@marlonrodriguezpinto fyi

[2020-08-27 20:56] Delpire commented on #426
@IRHM I am getting a similar issue, but I am using Blazor Server, so I don't think its related to WASM. It works when I use `electronize start /watch` but I error when I use the command as you have.

[2020-08-28 05:52] MarkBQE commented on #444
dotnet tool update --global ElectronNET.CLI command is not updating to version 9.31.2.0. Any help will be appreciated

[2020-08-28 06:15] mcguu opened #477 "how to manually start electronize?"
there is an error while npm install so I want to change the npm install

but if I enter electronize start it will auto run npm install

can I run it seperatelly?

[2020-09-01 13:22] ThuCommix commented on #440
You can pass a delegate to Electron.App.RequestSingleInstanceLockAsync which will get called with the arguments (if any) of the new opened instance. In that delegate you need to restore the focus & visibility of your desired window.

[2020-09-01 20:07] Delpire opened #479 "Add the ability to skip running dotnet publish so that we can call that in our build scripts."
We have the need to do some things to our assemblies before we want to packaged them up in an Electron app. For example, digitally signing the files.

It would be nice if we could tell `electronize build` to skip running `dotnet publish` and do the rest. This way I can run `dotnet publish` myself, with all the necessary arguments, then do my post build/publish work to my files, then call `electron

[2020-09-01 20:51] goonzaah commented on #245
I have te same issue Net Core 3.1 and ElectronizeNET.API nuget version 9.31.2

[2020-09-01 21:48] goonzaah commented on #245
I could resolve a problem. I m should be in the folder where are the Startup.cs and Program.cs when I execute this commands.
I expect that this resolve yours problems too.

[2020-09-02 19:32] Xarkam commented on #469
I understand better why my code is not working:
[code]
Inside my blazor page.

[2020-09-04 17:12] sporebean22 opened #481 "Is there a way to use the Electron.NET with javascript, html and css rather than cshtml?"
I would personally prefer using Javascript, HTML and css rather than cshtml, is there a way to implement that? what would i need to change roughly speaking? Thanks

[2020-09-04 17:30] GregorBiswanger commented on #481
Sure, why not?

Create a new empty ASP.NET web project.. create a `wwwroot` folder and bring in your static files... just don't forget the `UseStatic `middleware...

[2020-09-04 17:43] sporebean22 commented on #481
Awesome, Thanks Friend i Love You.

[2020-09-04 17:56] #481 closed

[2020-09-08 16:38] IRHM commented on #449
I'm having the same problem. I was able to use your workaround (converting image to base64), but a big problem for me is when trying to load a video file.

If the video file is big (~500mb) then converting to a base64 string will just take too long.

When loading a video/image (like: `src="file:///path/to/video.mp4"`) the chrome console shows this error:

<p align="center">
  <img src="https://use

[2020-09-17 19:25] netpoetica commented on #245
I recommend you guys open a new issue and provide as much detail as possible. It has been a long time since I personally saw this issue, and I don't recall specifically what the issue was or how I solved it.

[2020-09-18 19:57] arijit-code opened #482 "Unable to run on Ubuntu"
I am opening the issue as a question as I am not sure if this is a bug.

I am new to Electron.NET. I am trying to run a Electron.NET app on Ubuntu 20.04(64-bit).

I created the build with "electronize build /target linux". I am not sure if this is the correct procedure to create a build for Ubuntu.

I am however, able to run the app using "electronize start" or from the AppImage.

However, when I

[2020-09-19 08:54] syedadeel2 commented on #381
@sanosdole I'm working on the new repo, and I'm still waiting for you to accept my invite also there is some issue with your nodeclr if you have time we can talk about.

[2020-09-22 11:44] VerxivrEltaire commented on #144
Thanks for this reply, but what if i want to create a new window without localhost running? How can i achieve this

[2020-09-24 19:40] renanosoriorosa commented on #166
@Franki1986 Were you able to communicate with the serial port? if so, share with me?

[2020-09-25 21:22] ericfelipe99 commented on #482
i have the same question.
on windows 10 and vs2019, both with lastest updates

i build the app with command:
electronize build /target linux

but generate an error that says to me add the parameter /PublishReadyToRun false.
Error:
"não há suporte para otimizar assemblies para desempenho na arquitetura ou plataforma de destino selecionada....."
something like... "optimizing assemblies for performan

[2020-10-01 00:27] rakista112 commented on #15
Is this still needed? I'll do this.

[2020-10-01 07:41] GregorBiswanger commented on #15
Hi, yes that would be great!

Here is a video tutorial on how to code at Electron.NET:
https://youtu.be/Po-saU_Z6Ws

[2020-10-03 17:29] jeet0007 opened #483 "My programs runs when i use electronize start watch but nothing comes when use start or build"
🚨 The issue tracker is not for questions 🚨

The issue tracker is not for questions. Please ask questions on https://stackoverflow.com/questions/tagged/electron.net or via chat in https://gitter.im/ElectronNET/community.

[2020-10-03 20:15] SolarIceMedia opened #484 "electronize start and electronize build producing 2 totally different apps"
not sure if this is a bug or what, but I had built another app using the api and now I'm working on a different app and I have manually deleted all ./bin and ./obj folders but when I type:
electronize start in the console it loads up an old app
if I run
electronize build and go to the Desktop folder, its the correct app.

this is really wierd and not sure if its a bug or me doing something wrong.

[2020-10-03 22:11] SolarIceMedia commented on #484
ok so I found the problem and to me it seems like a bug. the electron browser was not clearin out the local storage and it was caching the old blazor app. after going into the developer console -> Application -> Clear Storage and clicking the clear site data with all options checked, it started loading the right one. Ironically the one it was loading had even been deleted from my repos completely

[2020-10-04 11:53] rakista112 commented on #15
Yeah, I'm following it right now

[2020-10-05 15:16] danatcofo commented on #442
@MopsieX et all... found a way to externally kill the ports and force a reconnect.

http://www.nirsoft.net/utils/cports.html

My first pass on a fix is basically to do a connect once method.   basically replacing `startSocketApiBridge()`  with the following code in main.js.  This doesn't really work however.  I'm testing by having a ping/pong host hook call that happens regularly (every 30 seconds

[2020-10-05 21:55] IRHM commented on #449
Anything happening with this?

[2020-10-06 02:25] rakista112 commented on #15
@GregorBiswanger making menus for Mac doesn't seem to need modifications to API.
I made this menu using our existing API.
<img width="947" alt="Screen Shot 2020-10-06 at 10 19 03 AM" src="https://user-images.githubusercontent.com/815354/95151688-e0671f00-07bd-11eb-8763-184d5754b54f.png">

You just have to format the menu according to official Electron's Menu.
Just follow the ones with the isMac bo

[2020-10-06 03:15] rakista112 commented on #454
This issue has been fixed in #443 and has been release in ElectronNET 9.31.2
Just update the ElectronNET-CLI tool to at least 9.31.2 or better yet 9.31.3 (latest version)
Run the following from your terminal

`dotnet tool update electronnet.cli -g`

[2020-10-06 03:42] rakista112 commented on #451
They seem to have implemented open-url and open-file recently. #478
@olirehacek @Elimil @DavidNorena

[2020-10-06 03:43] DavidNorena commented on #451
Does it work for windows as well ?

[2020-10-06 07:53] rakista112 commented on #451
@DavidNorena  for Windows you might need to parse process.argv to get the file.
Seems like [open-url](https://www.electronjs.org/docs/api/app#event-open-url-macos) and [open-file](https://www.electronjs.org/docs/api/app#event-open-file-macos) only work on macOS.

[2020-10-08 09:42] younglip commented on #446
@GregorBiswanger i've same issue, but only 9.31.2 available on nuget. Can you say when 9.31.3 will be publish?

[2020-10-10 13:23] Aliyss commented on #245
So here's the thing:

**At the following step:**

At the first time, you need an Electron.NET project initialization. Type the following command in your ASP.NET Core folder:

[code]

**Be sure you cd to the correct folder in advance:**

So if your folder structure is:
[code]
Then in the Terminal do this:
[code]

[2020-10-11 03:44] jeet0007 commented on #483
Fixed this turns out had nothing to do with electron. But there was an error in startup.cs fine during database init. Tried building in mac shows no error. Switched to windows and saw it

[2020-10-11 03:44] #483 closed

[2020-10-12 08:04] ekuchynski commented on #426
Getting the same error. Did you managed to find a solution?

[2020-10-12 08:05] IRHM commented on #426
@ekuchynski Nope, I'm just waiting for an expert.

[2020-10-14 23:43] Gaulomatic commented on #455
I am encountering this issue as well. On _some_ Windows 10 machines this leads to the situation where the app can not quit itself anymore. The main process is killed, but all remaining Electron processes as well as the ASP.NET core process run until they are force killed by any means (e.g. TaskManager).

[2020-10-17 00:16] ingrown opened #488 "Keeping size down by putting electron binaries in a common folder that multiple applications can use"
Hello!

Electron.NET is really cool but I have a silly question. Whenever I build my application is about 200mb. Is there a way to not bundle the electron api inside the application so I can put it in a separate directory? My reasoning is that building small 5 applications would equal 1gb, but I can keep the size down if I put all the electron binaries it in a common directory, keeping the size do

[2020-10-18 12:17] ZHHHHH opened #489 "fail to build linux on windows"
ElectronNET.API  Version：v9.31.2
ElectronNET.CLI   Version：v9.31.2

i type the build command

`electronize build /target linux`

then occur following error

`C:\Program Files\dotnet\sdk\3.1.101\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Publish.targets(270,5): error NETSDK1095: Optimizing assemblies for performance is not supported for the selected target platform or architecture. Please verify

[2020-10-18 18:58] GregorBiswanger commented on #489
Please use the following command:
`electronize build /target linux /PublishReadyToRun false`

[2020-10-19 03:06] ZHHHHH commented on #489
i have try the command:
`electronize build /target linux /PublishReadyToRun false`

and i got another problem like this:
https://github.com/ElectronNET/Electron.NET/issues/482#issuecomment-699161802

[2020-10-19 05:49] singh7sarb commented on #357
@GregorBiswanger
I am using ElectronNet.API version 9.31.2 with .net core 3.1,
This is the letest stable version but i still getting this issue .. can you please check once

[2020-10-19 06:47] rajeshs-logicmatter commented on #357
I am also getting the same issue in the 9.31.2 version.
Thank you.

[2020-10-21 10:25] cissemy opened #490 "Blazor client side"
Hi
I am not able to use electron with blazor client side.
Thanks

[2020-10-22 08:09] AlexanderDemko commented on #74
Try this one: https://github.com/rajeshsuramalla/AngularWithDotNetCoreElectronNET

[2020-10-22 08:31] realLiangshiwei opened #491 "Upgrade to NET 5"
Hi team.
Are there any plans to upgrade to NET 5?

[2020-10-22 09:31] ViacheslavUKR opened #492 "White screen in chromium, no any request from browser"
I have workable Blazor server side project and try to electronize it. There are no error, no any mistakes, but only white screen in chromium. Do you have any idea to detect and fix this issue?

![Blazor-T222020_122629](https://user-images.githubusercontent.com/20413407/96852682-182ec180-1462-11eb-9dcd-2c6649eefcfa.png)

[2020-10-23 00:31] ViacheslavUKR opened #493 "./electron: Permission denied"
Steps to Reproduce:
1. electronize start
2. ...
ElectronHostHook handling started...
Invoke electron - in dir: /home/admin/Documents/1/BlazorCRUD/BlazorCRUD2/obj/Host/node_modules/.bin
bash: line 1: ./electron: Permission denied

![Screenshot from 2020-10-23 03 25 13](https://user-images.githubusercontent.com/20413407/96943190-14da1b00-14e0-11eb-8ac2-7f375b8fdb78.png)

[2020-10-23 22:04] ViacheslavUKR commented on #493
Hey, anybody alive in this project? Or this is closed and dead project?

If I set manually permission to your script "isExecutable"
![Screenshot from 2020-10-24 00 53 20](https://user-images.githubusercontent.com/20413407/97057796-b7ec6c80-1594-11eb-88d2-692b4837bd47.png)

I receive more and more errors
![Screenshot from 2020-10-24 00 58 21](https://user-images.githubusercontent.com/20413407/97057

[2020-10-25 09:50] nekiro opened #494 "Socket disconnects when sending large data?"
Electron version latest from nuget.
Net Core 3.1
NodeJs v12.19.0

Debug

When sending larger data through socket (Electron.IpcMain.Send), in my case array with 100 indexes every index has Item object in it, item object has like 20 properties. I think it also happens if I send small array or long string

It even happens for single string atm, what's the problem?

Steps to Reproduce:

1. Electron.Ip

[2020-10-25 21:31] scherenhaenden opened #495 "Create deb application"
I need a mutable application but on linux electron.NET creates only appimages.

is there anyway to create a deb app?

thanks.

[2020-10-25 22:05] GregorBiswanger commented on #495
Hey @scherenhaenden,

Electron.NET uses electron builder under the hood. You can configure this in the `electron.manifest.json` file in the build part.

The electron-builder documentation shows a target property:
https://www.electron.build/configuration/linux

Could I help you?

[2020-10-25 22:06] GregorBiswanger commented on #494
The socket connection is then restored normally.

I'm currently working on better communication in the background.

[2020-10-25 22:10] GregorBiswanger commented on #493
Hey, I can't say why that is. Maybe start the application with sudo?

In this video you can see how to debug under the hood: [Electron.NET - Contributing Getting Started](https://youtu.be/Po-saU_Z6Ws)
If there is a mistake on our part, you are welcome to submit a pull request.

[2020-10-25 22:11] GregorBiswanger commented on #492
Hey, I can't say why that is.

In this video you can see how to debug under the hood: [Electron.NET - Contributing Getting Started](https://youtu.be/Po-saU_Z6Ws)
If there is a mistake on our part, you are welcome to submit a pull request.

[2020-10-25 22:13] GregorBiswanger commented on #491
Hi @realLiangshiwei, definitely!

[2020-10-25 22:15] GregorBiswanger commented on #490
Hi @cissemy, you should definitely host with ASP.NET Core, then it should work without any problems.

Alternatively, server-side works in any case!

[2020-10-25 22:15] #490 closed

[2020-10-25 22:15] GregorBiswanger commented on #489
Electron.NET uses electron builder under the hood. You can configure this in the `electron.manifest.json` file in the build part.

The electron-builder documentation shows a target property:
https://www.electron.build/configuration/linux

Could I help you?

[2020-10-25 22:23] GregorBiswanger commented on #488
Hi @ingrown,

you can also build and use your project without Electron.NET. The binaries, however, do not. Electron.NET doesn't use much either, but the native Electron with Chromium.

The created installer should be significantly smaller.

[2020-10-25 22:24] GregorBiswanger commented on #482
Electron.NET uses electron builder under the hood. You can configure this in the `electron.manifest.json` file in the build part.

The electron-builder documentation shows a target property:
https://www.electron.build/configuration/linux

Could I help you?

[2020-10-25 22:29] GregorBiswanger commented on #477
Hi @mcguu, no, npm install is an important part of installing the native Electron.

In this video you can see how to debug under the hood: [Electron.NET - Contributing Getting Started](https://youtu.be/Po-saU_Z6Ws)

[2020-10-25 22:32] GregorBiswanger commented on #469
With Blazor server-side, IPC communication should not be necessary.
On the server side, client + server merge.

Could i help?

[2020-10-25 22:33] GregorBiswanger commented on #470
In this video you can see how to debug under the hood: [Electron.NET - Contributing Getting Started](https://youtu.be/Po-saU_Z6Ws)
If there is a mistake on our part, you are welcome to submit a pull request.

[2020-10-25 22:34] Gaulomatic commented on #469
@GregorBiswanger That's correct, but the buggy IPC leads to the app not being able to close itself gracefully.

[2020-10-25 22:37] GregorBiswanger commented on #484
For this problem we have an `electronize start /clear-cache` command.

could i help?

[2020-10-25 22:38] GregorBiswanger commented on #471
Did you solve the problem?

[2020-10-25 22:40] GregorBiswanger commented on #469
i am currently working on improving communication.

[2020-10-25 22:40] #469 closed

[2020-10-25 22:42] Gaulomatic commented on #469
That's great news, thank you.

[2020-10-25 22:42] #454 closed

[2020-10-26 01:16] realLiangshiwei commented on #491
https://devblogs.microsoft.com/dotnet/announcing-net-5-0-rc-2/
RC2 is a “go live” release; we are supported using it in production. We can upgrade now.

[2020-10-26 02:16] arijit-code commented on #482
Hi Gregor,

Thanks for your reply.  Unfortunately the project for which I was working on this got cancelled. But I would like to thank you very much for taking the time to reply to my email.

Best Regards,

Arijit

From: Gregor Biswanger <notifications@github.com>
Sent: Sunday, October 25, 2020 3:25 PM
To: ElectronNET/Electron.NET <Electron.NET@noreply.github.com>
Cc: arijit-code <arijit_9@yahoo.c

[2020-10-26 07:15] scherenhaenden commented on #495
@GregorBiswanger

ok, that is embarassing, I was trully hunting such information on the internet but I did not find it.

thanks a lot mate.

[2020-10-26 08:35] scherenhaenden commented on #495
@GregorBiswanger sadly, it is buggy.

[2020-10-26 08:47] scherenhaenden opened #496 "Bug: Maybe related to GTK"
* **Version**:
 electronnet.cli = 9.31.2

Dotnetcore 3.1 (3.1.403)

* **Target**:
Target: Linux: deb/zip

Steps to Reproduce:

1.  Create a dotnet core app
2.  Build it on Linux
3. Try to run it

The application work only if I run "electronize start" but not after the app is build. If I build the app as an AppImage, it works.

![image](https://user-images.githubusercontent.com/14371433/97151638-10

[2020-10-26 17:26] k-karuna commented on #495
@scherenhaenden can you let know if you will succeed in this issue?

[2020-10-26 18:54] scherenhaenden commented on #495
it did not, but the error appears to be releated with the packes used in my system in combination with the electron builder.

everything works, except when I build the zip/deb files...

I'm trying to get a release using github actions

[2020-10-26 23:15] FadyQJ opened #497 "exceptions are not shown in the console"
I am not sure if this is a bug but under Ubuntu I am using:
`app.UseDeveloperExceptionPage();` even outside if (env.IsDevelopment())

I am not seeing any exceptions thrown in the console. I only get:
Got disconnect! Reason: transport close

When I'm using windows it works correctly

[2020-10-27 09:44] nekiro commented on #494
@GregorBiswanger that's great, could you point me to the code, which is resposnible for these disconnects? I would maybe try to contribute too.

[2020-10-27 11:04] scherenhaenden commented on #496
![image](https://user-images.githubusercontent.com/14371433/97293055-6837ca80-184c-11eb-8d26-b622f33ce027.png)

The error is apparently not related GTK, I tried on windows and got the same error

[2020-10-27 12:18] scherenhaenden commented on #495
@k-karuna

https://github.com/ElectronNET/Electron.NET/issues/495

[2020-10-27 14:08] ZHHHHH commented on #489
OK，I will try it, thanks for reply

[2020-10-27 14:08] #489 closed

[2020-10-30 14:26] IRHM commented on #449
@ctrl-alt-d @GregorBiswanger I think this is a bug

[2020-10-31 11:03] FadyQJ commented on #497
I noticed that what is causing this is the throw is being called in the async Task.Run(async () => { }) function
So there is some detachment going on once a new thread is created.

If I throw e.g. `throw new System.ArgumentException("A", "B");` outside the Task.Run I get the error.
This is my first project using linux for C# as well as ASP.Net so this may be normal behavior for ASP

[2020-10-31 12:39] ruohki commented on #391
To piggyback on this problem.

In js you can do something like this in your app.js
    mainWindow.on('close', (event) => {
      if(!shouldQuit){
        event.returnValue = true;
        event.preventDefault()
        mainWindow.hide();
      } else {
        // close app
      }
    });

I noticed the OnClose do not hand over any arguments to do the same in c# is this a missing feature?

[2020-10-31 13:02] ZHHHHH commented on #122
I have the same problem,did you solved it?

[2020-10-31 13:25] ruohki opened #498 "Electron.Tray.OnDoubleClick not working when Electron.Tray.Destroy() has been called"
* latest

* latest

* Windows

Steps to Reproduce:

1. Create a Tray menu and register OnDoubleClick.
2. Destroy the Tray from a menu item and recreate, rebind OnDoubleClick
3. DoubleClick not triggering anymore

[2020-10-31 14:55] ZHHHHH opened #499 "build app on linux"
i have try to build on linux（ubantu） with command:

`electronize build /target linux`

and downloading file all the time

![7`)GZ%R KJB7CL}EQ1}H1%9](https://user-images.githubusercontent.com/22629571/97782286-a37b2600-1bcb-11eb-978a-8a0889231b44.png)

[2020-10-31 15:09] #499 closed

[2020-11-01 06:49] ArunEdathadan commented on #152
this method worked, i used finally `electronize.exe build /target custom "win-x86;win" /dotnet-configuration Debug /electron-arch ia32`

[2020-11-01 06:50] ArunEdathadan commented on #152
This one worked for me  32 bit windows
`electronize.exe build /target custom "win-x86;win" /dotnet-configuration Debug /electron-arch ia32`

[2020-11-01 07:12] ArunEdathadan opened #500 "The 32 bit exe generation code wont run in package manager or cmd console. a double quote is missing, wasted many days of work due to this simple issue"
electronize.exe build /target custom win-x86;win /dotnet-configuration Debug /electron-arch ia32
wont work but

electronize.exe build /target custom "win-x86;win" /dotnet-configuration Debug /electron-arch ia32
will work

the difference here is  "win-x86;win", double quotes

so i request you to fix the documentation

[2020-11-04 08:22] lukasportal opened #501 "Allow us to pass our own JsonSerializerSettings for IPC communication"
This is a very easy task to accomplish, really (unless I'm missing something 😄)

Basically, here, https://github.com/ElectronNET/Electron.NET/blob/5e0ef7edb5012a8713d02f657f828b3a687d95c0/ElectronNET.API/IpcMain.cs#L182
we have the JSON settings hardcoded and very basic.
I would like to have control on how we serialize our JSON in the IPC communication.

It would be good to expose that setting to

[2020-11-04 11:26] lukasportal opened #502 "Support app.setLocale() or --lang switch"
I want to manually set the locale of the app, instead of using the default one.

From here, we can see that the electron team have added `app.setLocale()` successfully
https://github.com/electron/electron/pull/26185

A quick workaround could be adding the switch `--lang=XYZ` on chromium launch.

How possible would it be to add support for any of these 2? Or is there an existing workaround for this

[2020-11-04 22:02] ViacheslavUKR commented on #493
Firstly after install your script has no permission to execute at all. I repair this and set right permission, but after that your script try to execute something program with .EXE extension (in Linux platform !), please see to screen.

[2020-11-04 22:12] ViacheslavUKR commented on #492
Hi, Gregor. Simplest application is working in my developer computer as desktop, but real application is no. This real commercial application and I'm not ready to publish it. Do you want to remote access to my computer and check your package?  But it's possible to give you access by Anydesk. If you want to check your package in real environment I'm ready to connect with you by Telegram or Discord

[2020-11-09 15:04] abrasat opened #503 "SQLite database access with EFCore from Electron.NET ASP NET Core does not work"
Which version of Electron.NET CLI and API are you using?
* **Latest**

Which version of .NET Core and Node.js are you using (if applicable)?
* **Latest**

What target are you building for?
* **Windows**:

Steps to Reproduce:

1. Add this entry to appsettings.json
[code]
2. Add to ConfigureServices() in Startup.cs
[code]
3. Create ContactsDbContext class and pass it to controller constructor
[code]

[2020-11-10 08:30] abrasat commented on #503
Update: Yesterday I tested directly from VS 2019 by starting the Electron App with F5.
Today I performed an "electronize build". After that the electron app works correctly now, also when started from VS 2019....

[2020-11-11 14:25] aarong-av opened #504 "Configurable Default Electron Port"
In many environments developers are not permitted to find available port. We must use specified ports allotted. Can we change the main.js file to include the following (~ line 66):
[code]

This will allow users to explicitly set the port just as you can do with the aspNetCore port.

[2020-11-11 14:30] GregorBiswanger commented on #504
You need an additional configuration in the **electron.manifest.json** file with the key **aspCoreBackendPort**:

[code]

The application then runs automatically as a single instance. I hope you like it that way.

[2020-11-11 14:36] aarong-av commented on #504
I have the aspCoreBackendPort accounted for. I need the electronPort changed from its default of 8000 and then searching for whatever is available if 8000 is taken.

Ultimately I need the electron port to behave exactly like what was already done with aspCoreBackendPort.

Thanks for the quick reply!

[2020-11-11 14:57] aarong-av commented on #504
Thanks for putting it on a milestone. I have a local branch. I don’t think I have permission to push.

Are there any other steps to implementing this other than what I have above?

Also how can I workaround this for now?

[2020-11-11 15:21] GregorBiswanger commented on #504
In this video I show, how you can work with the repository:
https://youtu.be/Po-saU_Z6Ws

Your pull request is very welcome to us :)

[2020-11-11 15:30] aarong-av commented on #504
I put in the PR. Let me know if it is wrong.

[2020-11-11 16:05] skarin commented on #504
I'd love to see this get In ASAP.  Low risk, big impact.    Thanks guys!

[2020-11-11 16:10] GregorBiswanger commented on #504
At the moment I'm still a bit busy - I don't think I'll have time for Electron until December - but a lot will happen that really rocks!

[2020-11-11 18:26] aarong-av commented on #504
Is there some guidance on the electron.manifest.json “files” section? I think I can work around this problem by making my own main.js but I can’t find any docs on how it works and copying an example ElectronHostHook does seem to overwrite the main.js.

[2020-11-13 16:19] nathanwienand commented on #22
I have added the build parameter to /p:PublishSingleFile true in my recent PR.
I have a version of blazor webassembly, with host running in Electron.NET, bundled as single .exe file.

The only code exposed is .wasm file, so disassembly is not as easy as dropping DLL's into ILSpy or DotNetPeek anymore.
Also the app doesn't ship with any dll's this way. just a single .exe

[2020-11-14 11:15] techmind-git commented on #491
I was wondering if we can use it with .net 5 with the current latest version since it was presented like that here: https://www.youtube.com/watch?v=KHSJQ0nELlY. Are there things that might not work since you've got this issue open and marked for a future milestone? I was a bit confused so maybe you can share some more on this. Thank you.

[2020-11-16 13:56] noelroehrig opened #507 "Reconnection error when overwriting configureSignalR (Blazor)"
* **Version**: Electron.NET API/ Electron.NET CLI: 9.31.2; net core: 3.1

Hey!
We are using a setup of Electron.NET and Blazor (Server) which is working great in general. Recently we made adjustments to the Blazor circuit / reconnection logic to sustain states more reliantly.
Afterwards we noticed that the Electron App loses it's connection after 2-4 minutes of inactivity. This doesn't happen in t

[2020-11-16 15:05] VPKSoft opened #508 "Windows publish failing with white space on the user profile path."
ElectronNET.API: 9.31.2
ElectronNET.CLI Version: 9.31.2.0

Node.js version: v12.18.3

* **Target**:
Windows x64.

The release build fails with the following message on a Windows computer with a white space on the user profile folder:
![image](https://user-images.githubusercontent.com/40712699/99268055-5cc53700-282d-11eb-802b-5ad4c7fdd188.png)

Steps to Reproduce:
1. Have a user profile with a whit

[2020-11-17 04:31] SolarIceMedia commented on #484
ok thank you

[2020-11-17 04:31] #484 closed

[2020-11-19 06:46] Saviorjke commented on #434
What about to get the Event: 'will-navigate'? https://github.com/electron/electron/blob/master/docs/api/web-contents.md
It would be helpful to have some kind of events of this class.

[2020-11-19 20:59] aschaefer94 commented on #491
Any ETA on this feature? We're wanting to update to 5.0 but can't until we can build our electron package.

[2020-11-21 15:16] NMSaiyed commented on #470
It's worked.
Actually mistake in my integration.
Closing this issue.

[2020-11-21 15:18] #470 closed

[2020-11-21 22:32] scottkuhl commented on #491
I've submitted a PR to address the upgrade to .NET and also upgraded TypeScript and all NuGet packages to the latest version.

[2020-11-21 23:31] scottkuhl opened #510 "Upgrade Electron to Version 11"
Upgrade the version of Electron that Electron.NET is using from 9 to 11.

[2020-11-21 23:35] scottkuhl commented on #510
I started a POC here: https://github.com/scottkuhl/Electron.NET/tree/poc/upgrade-to-electron-11

That repo updates all NPM packages to the latest along with Electron to v11.  It looks like there is one breaking change that will affect Electron.NET: https://github.com/electron/electron/pull/23578  The id property has been removed from BrowserView.

I don't see anywhere this code is used on the web

[2020-11-21 23:39] GregorBiswanger commented on #510
Our next update will support Electron 11 + .NET 5.

[2020-11-21 23:42] scottkuhl commented on #510
@GregorBiswanger

I have a PR in for .NET 5 and I'm working on the Electron upgrade to 11 in the linked repo above.  Should I just hold off and wait?

[2020-11-21 23:52] GregorBiswanger commented on #510
Oh no, that´s perfect! I will definitely prefer your PR... because we only have time for the big update at the beginning of December...

[2020-11-22 11:39] hexdump2002 opened #512 "Add Drag & Drop example to demo"
Hi,

I am a new Electron.NET user and need drag & drop in my app (from external to my app). After reading all the documentation and browsing the demo project I have not seen any trace of drag and drop feature but it seems electron supports it. Does Electron.NET has support for it?

If Electron.NET has support for drag & drop would be nice to have a simple example for newcomers.

[2020-11-22 12:25] hexdump2002 commented on #512
Well, it seems I was a bit confused between javascript and c# :). This is a regular browser drag & drop. If anybody needs it here is the code I used for testing in index.razor:

[code]

[2020-11-23 12:27] gentledepp opened #513 "Plugin support"
Making an Electron.NET application extensible via plugins would be very interesting.

There seem to be quite a few options for plugin systems on electronjs like [this one](https://www.npmjs.com/package/electron-plugin)

However, I did not find anything about Electron.NET.

When publishing an app, all .NET Core stuff seems to be packaged into a single executable (that is about 100MB in size).
What

[2020-11-23 13:22] 312977 opened #514 "download bug"
9.0.5

9.0.5

* **Version**:
9.0.5

* **Target**: windows x86  64

 error info

Steps to Reproduce:

1.  excuute cmd   electronize build /target win
2.  cant not  download https://github.com/electron/electron/releases/download/v9.0.5/electron-v9.0.5-win32-x64.zip
    error ECTRON_BUILDER_CANNOT_EXECUTE
3. i download this electron-v9.0.5-win32-x64.zip in chrom,  i put this rar to ToolCabinet\bin\De

[2020-11-23 13:51] 312977 opened #515 "build retry bug"
9.0.5

* **Version**: 9.0.5

3.1

* **Target**:
windows 32 x64

Steps to Reproduce:

1.  i use  cmd:  electronize build /target win  ,its a  long time , waiting....    when i  ctrl+c   end of this cmd,
and then a try  electronize build /target win  agin ,i get an error:
i  must  to  reatart computer to fix it.

Build Electron Application...
Build ASP.NET Core App for win-x64...
Unhandled exception

[2020-11-23 13:53] aschaefer94 commented on #491
Just for everyone to know - I found that if you are updating your .NET project to .NET 5, as long as you have dotnet 3.1 on your machine (or your build server or whatever you're using) you can still run your project in the current version of Electron.NET.

[2020-11-23 21:38] LagradOst opened #516 "Compiling error, electronize start "npm WARN tar EINVAL: invalid argument, futime""
Electron.NET.API v9.31.2
CLI v9.31.2

.Net 5.0 and .Net 3.0 tested
npm@6.14.9

* **Target**:
Windows debug from windows

I tried following https://www.youtube.com/watch?v=nuM6AojRFHk but got this error when testing electron. No problem running it in the browser. After that I tried to clone https://github.com/ElectronNET/electron.net-musicplayer-sample.git and got the same problem. Tried both git b

[2020-11-27 17:27] #516 closed

[2020-12-01 11:10] KimTooFlex commented on #357
Still experiencing the same issue. Any fix so far?

[2020-12-01 15:59] EnsignPayton opened #517 "Electronize Build Argument Parsing"
* **Version**:

ElectronNET.API: 9.31.2
ElectronNET.CLI: 9.31.2
.NET: 5.0.100
Node.js: 12.16.2

* **Target**: win

Steps to Reproduce:

1. Run `electronize build /target win`
2. Argument parsing fails

I followed this guide for setting up a Blazor server project hosed in Electron: https://blog.jetbrains.com/dotnet/2020/11/05/run-blazor-apps-within-electron-shell/

It works great in debug, but `ele

[2020-12-01 18:27] singh7sarb commented on #357
yes  still, splash screen disappearing, but application does not close now,
in my case application  was  closed also. I did fix that, so at  least if
the application  doesn't close with the splash screen.

So current behavior is user starts app,
splash screen comes,
user click on splash and switch to other app, ->here splash screen
disappear, it not application close.
after 2- sec application star

[2020-12-02 17:04] devtag opened #518 "./electron:" Permission denied"
How can I avoid this error on MacOS:

After I ran "electronize start" the system tried to "start npm install" then this error came up:
"./electron:" Permission denied

I even tried:
sudo -s electronize start

Result:
./electron: Permission denied

System:
macOS Catalina 10.15.7
User has administration permissions

[2020-12-02 20:15] GregorBiswanger commented on #518
try to use the "sudo" command with the electronize commands.

[2020-12-02 20:25] devtag commented on #518
I even tried:
sudo -s electronize start

Result:
./electron: Permission denied

[2020-12-02 20:34] GregorBiswanger commented on #518
and "sudo dotnet -s electronize start"? 🤔

[2020-12-03 05:25] devtag commented on #518
"sudo dotnet -s electronize start" produces this error:
Unknown option: -s

At the end I tried this command and it works now:
sudo -s electronize build /target macos

[2020-12-03 05:25] #518 closed

[2020-12-08 20:22] Delpire opened #519 "RequestSingleInstanceLockAsync callback does not seem to work"
* **Version**:  9.31.2

* **Target**: Windows 10

I cannot get the RequestSingleInstanceLockAsync callback to work at all. I have tried several things and it just does not seem to get called.

I have set up a test to see if its firing. Basically, if a second instance is launched, I just want it to kill the first instance. It does not kill the app. In my actual app, I want it to restore the window

[2020-12-08 20:58] Delpire opened #520 "singleInstance Electron Manifest setting should handle command line arguments"
Currently there are two ways of enforcing an app to be single instance.
1. Set `"singleInstance": true` in the electron manifest json
2. Write code in .NET to request the single instance lock and handle the second instance accordingly.

The first option seems to be the most reliable and robust. It works the fastest since it is being done in the javascript before the ASP .NET Core application launc

[2020-12-10 11:33] Bmooij opened #521 "electronize start /target custom not working"
* **Version**:  9.31.2
* **.NET Core**: 3.1
* **Node.js**: v12.13.0
* **Target**: x68

With the command `electronize start /target custom "win7-x68;win32"`, it always publish with x64: `dotnet publish -r win-x64`

[2020-12-11 16:20] keesjan-bagtag commented on #503
I think SQLite connection string has a space in datasource eg: "Data Source=mysqlite.db"

[2020-12-13 21:55] Bmooij commented on #521
I've forked the project and ran "BuildAll.cmd". It replaced "electronize" executable in the .dotnet/tools folder. It works now

[2020-12-17 13:56] EnsignPayton commented on #517
My shell (Git Bash) was expanding the `/target` argument to `C:/Program Files/Git/target`. Invoking through Powershell resolves the issue

[2020-12-17 13:56] #517 closed

[2020-12-18 13:49] kristianklok commented on #348
@OmiCron07 Sorry for negro'ing this thread. Did you ever find a solution to this? I have been looking into this all day and it appears that two ElectronNet applications using unassisted installers cannot co-exist on the same (Windows) system. Even if they are from different vendors?

[2020-12-18 14:35] OmiCron07 commented on #348
I didn't come back to the app I made with Electron.Net and I didn't test version 8.31.1 either for the new installation folder name. I suggest you open a new issue for your problem, sorry that I can't help much.

[2021-01-08 16:51] DelpireNI opened #523 "Need the ability to pass msbuild properties through the electronize command."
One of the things we are doing is using CI/CD to set the assembly and file versions of our binaries/application. dotnet publish allows you to pass any msbuild variables you want via -p:<NAME>=<VALUE>
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish

It would be really nice if we could pass /dotnet-msbuild-properties or something into the electronize command when we build so that w

[2021-01-10 23:15] #491 closed

[2021-01-10 23:16] #504 closed

[2021-01-11 01:03] #510 closed

[2021-01-11 22:27] #442 closed

[2021-01-12 15:10] jcb871 opened #524 "Ability to launch HTTPS (SSL) URL"
Though the Electron.NET provides option to configure the port number to launch, it seems like http://localhost is hardcoded in Electron.NET. Could you please add an option to configure Electron.NET to launch the ASP.NET Core app with HTTPS URL?

I am developing a Blazor app with built-in Grpc service. It requires the service/web app to run in SSL mode (https URL) in order to consume from the web a

[2021-01-12 21:27] danatcofo opened #525 "Multi-target frameworks netcoreapp3.1 and net5"
While it is nice that you have pushed the framework version to `net5`, being so aggressive is detrimental to many of us. Other than the latest and greatest sentiment is there an overwhelming reason not to support multiple frameworks?  From my limited testing the only real code change you have to do is inside the CLI such that it can support either framework.

I was able to build the api and and cl

[2021-01-12 23:18] danatcofo commented on #513
I've got the start of a plugin system using [Nate McMaster's plugin package](https://www.nuget.org/packages/McMaster.NETCore.Plugins/).  I've set up my code to cycle through a `plugins` folder that will discover and load that code based upon naming conventions.  I haven't needed to solve the UI portions of it, i.e serving up html and such. but I've developed frameworks for window discovery and con

[2021-01-13 18:08] Delpire commented on #442
@GregorBiswanger is this issue really closed? It was unclear to me based on the last few comments of the merge.

I am seeing an issue where after a period of time, my menu items quit working, and this issue seemed like it may have been the root cause. I could be completely wrong, and if you think so, I can open a new issue. I haven't been able to determine root cause, but it does seem related to a

[2021-01-13 20:38] DelpireNI opened #526 "Add a way to set worldSafeExecuteJavascript"
Currently when looking at the debugger in the electron app, we get the following warning:

[code]

It seems that the way to fix this is to set worldSafeExecuteJavaScript to true and contextIsolation to true. Electron .NET has a WebPreferences class that currently allows ContextIsolation to be set to true, but there is no way to set worldSafeExecuteJavascript as far as I can tell.

[2021-01-14 17:07] danatcofo commented on #442
The issue this fixed was basically fixing the eventing link between the back end and front end being broken when the socket got disconnected and the reconnected.  So if you attempted to send a message to a specific window, it never made it there because it didn't exist anymore in the browserWindows array.

If your experiencing a disconnect after a while, and you do not see a reconnect, then that i

[2021-01-14 21:18] Delpire commented on #442
@danatcofo I am seeing it reconnect. The app continues to work, and the Exit menu item I have works. My other menu items, for which I have written code to do things, stop working. They aren't particularly exciting, they just use explorer.exe to launch a folder or a help file. Those menu items are the only ones that break on the disconnect/reconnect. The only odd thing I may be doing is that I have

[2021-01-14 22:10] GregorBiswanger commented on #442
One problem I see is that a .NET library is currently in use for the socket.io support. Unfortunately, it is no longer maintained.

We need an alternative that also supports the latest version of socket.io (3.x) and that we could use without great effort. I'm sure we will get some socket problems improved.

[2021-01-15 17:32] DelpireNI commented on #428
@kylethomas320 Did you ever get a robust work around with regards to this? I am still experiencing losing my events when a disconnect occurs.

[2021-01-15 23:36] danatcofo commented on #442
I haven't run into any menu issues myself @Delpire. though I don't use a static method for consumption.  I basically do all of my handlers as inline arrow functions where the internals of them do stuff. generally the internals will call instance methods but the actual menu action handler is an arrow function.

[code]

[2021-01-16 00:20] danatcofo opened #527 "MacOs enhanced support"
There are at least 2 different MacOs targeted features that are missing which are kind of important to a fully functioning app.

* Dock.SetMenu() which is currently in a TODO state
* App.Activate listener to listen for the `app.on('activate')` event that indicates a dock click.  the activate event also is fired off for other events but for the purposes of Electron.NET, the dock click is the primar

[2021-01-16 04:21] Delpire commented on #442
@GregorBiswanger fyi:

@danatcofo - I went ahead and tested this out by removing all my static calls. Now I am just creating the browser window and its menu items in an async method called from Startup.cs' `public void Configure(IApplicationBuilder app, IWebHostEnvironment env)`. Basically I am doing exactly what the example Electron .NET repo is doing.

I tested with several different menu items.

[2021-01-16 14:54] kylethomas320 commented on #428
Basically my solution for this is sending a heartbeat to the frontend every 5 seconds. If I don't receive the heartbeat after 5 seconds, I kill all listeners and restart these. Definitely not the best solution, and still at times it doesn't manage to restore these connections, but it occurs less often than before. I'm still hoping the development team manages to somehow fix this bug. Good luck!

[2021-01-17 13:36] IIiKoBiT commented on #455
When will it be fixed?
This is very critical for me. Is there a way to temporarily fix this?

[2021-01-17 22:17] danatcofo commented on #442
hmm, well sounds like we have bug still then.  I'm assuming you're using windows here rather than macOS as you would be updating the app menu rather than the window menu in that case.  Honestly I didn't test your scenario, only tested the socket communication being maintained between the back end and the front end.  Looks like there is some more work to do then here.  I'll take a look at it soon a

[2021-01-18 15:39] philinthecloud commented on #526
+1 for please allowing this.

[2021-01-18 22:23] danatcofo commented on #527
@GregorBiswanger I've got this working locally, I'll have a PR in to support this today at some point as soon as I get all my T's dotted and I's crossed.

Some things of interest here I'm doing to put support in for this I'll make note of.

Dock.setMenu() is a straight forward port of what you do elsewhere and is tested in mac

Support for `activate` event I'm accomplishing by adding a generic `On

[2021-01-19 16:25] IIiKoBiT commented on #455
@GregorBiswanger
I didn't wait for an answer, I cloned the whole project and built it. The disconnect problem is gone and everything works well. But any resources stopped working for me, there are no icons and images, what could it be?

[2021-01-19 20:17] Delpire commented on #442
@danatcofo  yes I am using Windows.

I can confirm that the issue is still there in master as well. I pulled down the master branch and added a menu item to ElectronNET.WebApp and built it. Once it disconnects and reconnects the menu item is broken. This branch includes your updates to the Typescript files from this PR
https://github.com/ElectronNET/Electron.NET/pull/486

[2021-01-20 00:36] Delpire commented on #442
I have some new interesting information. It seems the reason for the disconnect matters and that different machines act differently. I have tested this on 3-4 different machines. On the first machine I saw the issue, it was a physical machine, and it took a while for the problem to occur. On my VM, it happens very frequently. It will basically always happen within 15 minutes or so of launching the

[2021-01-21 17:03] Delpire opened #530 "Need the ability to use npm ci and a package-lock file."
I believe it is a good practice to use the `npm ci` command when building from your continuous integration pipeline.
https://docs.npmjs.com/cli/v6/commands/npm-ci

My understanding is that one major benefit is that it will fail builds if the package.json does not match the package-lock.json file. This is important when you want to keep track of your dependencies, especially for security audits as

[2021-01-21 20:45] #500 closed

[2021-01-21 20:45] #527 closed

[2021-01-24 16:44] bravecobra commented on #521
I think you needed win7-x86, or was that just a typo?

[2021-01-25 16:23] danatcofo commented on #495
Late to the party @scherenhaenden, but this is an example of our manifest sections for linux, hopefully it helps you
[code]

[2021-01-25 16:28] danatcofo commented on #501
@lukasportal

There are some underlying assumptions on the JSON serializer settings to keep everything talking together, what are you wanting to be different from the basic one being used right now and why?  Knowing this would lead to a better solution than a wholesale ability to override the serializer and possibly break other portions of the app.

[2021-01-25 16:32] danatcofo commented on #502
You can use the HostHook feature to do this as well.  It runs in the main thread and has access to the App module.

**index.ts**
[code]

[2021-01-25 16:33] GregorBiswanger commented on #501
I'm with @danatcofo! Debugging problems is not easily possible here either.

[2021-01-25 16:37] danatcofo commented on #492
In these cases you might check what location is loading in the window.  I've found if I have a whitescreen its for one of the following reasons

* I'm not loading the correct location or...
* My vue didn't build the interface (whatever you interface generator of choice may be)

though honestly I usually have a js error if its the vue issue.

[2021-01-25 16:40] danatcofo commented on #428
I believe this is fixed as of 11.5.1. @GregorBiswanger

[2021-01-25 16:42] danatcofo commented on #455
I believe this is fixed as of 11.5.1 @GregorBiswanger

[2021-01-25 16:50] danatcofo commented on #378
@BurtsevC , @juliushuck this is available as of 11.5.1

Mac has some idiosyncracies that us primary windows users don't really get often enough.  So to add support for the Dock click...

[code]

This handle the case where the main window was closed leaving the app running without an accessible window.

[2021-01-25 17:07] lukasportal commented on #501
I actually'skipped IPC altogether due to the big unreliability of constantly losing state and events. I moved to SignalR and things are smooth now.
I see a new version was released recently, so maybe this was fixed, but now it's too late for me

[2021-01-25 17:08] #501 closed

[2021-01-26 03:05] Delpire commented on #442
I just thought I would mention that my work around is to take advantage of the ElectronHostHook and Electron's IPC. I can put all my code to create my menu items in some Typescript in an ElectronHostHook, and then if I need a file path that I get at runtime I can pass the file path via electron's IPC. I could use the HookService, but I am worried about the reliability of the socket dependency. So

[2021-01-26 04:18] Delpire commented on #428
@kylethomas320 This was causing me issues with my menu items. They would stop working. My solution was to create an ElectronHostHook that would create the menu items for me, and if I needed to pass any information, I can do that by setting up electron IPCs and using the javascript interop to make the calls. Electron's IPCs seem more robust than the Socket libraries Electron .NET is using. Its unfo

[2021-01-26 04:39] danatcofo commented on #428
No, I still plan on looking into the menu issue. It's on top of my free time list as I expect it will impact my own project.  However the general socket issues are fixed around Ipc connectivity with the browser windows.  That's what my fix targeted as mentioned in the other ticket.

At the moment I'm heads down getting the first release done for my project as it's due to be delivered by next week.

[2021-01-26 16:56] Delpire commented on #428
@danatcofo , @GregorBiswanger - a new issues I discovered with the disconnect is a potential memory leak. I ran my application all night, and it disconnected and reconnected a ton of times. Eventually I got this message:
[code]

I believe this is due to the disconnect/connect, but I'm not sure.

[2021-01-27 10:55] Nodiink opened #532 "Error compiling a Blazor 'client-side' project on .NET 5"
* **Version**: Electron.NET Tools 11.5.1
* **.NET version**: 5.0.1
* **Target**: Win 10, desktop, x64

The error is:
[code]

Full console text:
[code]

[2021-01-27 14:38] danielhunex commented on #532
I am seeing this error and couldn't find a workaround

[2021-01-27 19:55] asjad-m commented on #288
Build Electron Application...
Build ASP.NET Core App for osx-x64...
Executing dotnet publish in this directory: /Users/dotnetteam/Desktop/Electron.NET/obj/desktop/osx
Build ASP.NET Core App for osx-x64 under Release-Configuration...
Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.
  Restore completed in 165.2 ms for /Use

[2021-01-28 15:49] danatcofo commented on #532
you can pass in overrides on the PublishSingleFile when running electronize build.

I believe its of the form like this.

[code]

[2021-01-28 16:02] danatcofo opened #533 "MenuItem Click handlers lose connectivity when the socket connection is lost and re-established."
This is related to #442

Commenting on this issue can be found starting [here](https://github.com/ElectronNET/Electron.NET/issues/442#issuecomment-759624328).

the fix for #442 basically handled this same issue as it related to connectivity being lost to browser windows.  Its been found that this same thing is happening to MenuItems as well.

You can reproduce this by :

[code]

and forcing the di

[2021-01-28 16:05] danatcofo commented on #442
@Delpire I went ahead and opened up a fresh ticket for the menu item issue... Go ahead and comment any extra information your might have there and if I got anything wrong, on the ticket as well.

One think I'm interested in is if this also happens for other menuitems such as the tray, app or dock menu's (now that we have dock menus) especially as mac generally doesn't support browser window menues

[2021-01-28 17:48] Delpire commented on #533
Some more information:

The menu items only stop working if the reason for the disconnect is `transport closed`. Other disconnections like `ping timeout` did not cause the menu items to break.

Additionally, it seems like its only the callbacks that are broken. MenuItems with roles like exit or toggling developer tools do not break.

[2021-01-28 17:48] Delpire commented on #442
@danatcofo thank you! I have added some more information. I will watch that issue moving forward.

[2021-01-28 18:28] danatcofo commented on #533
note: on linux/osx, use this to close the socket without killing the pid

https://www.scm.keele.ac.uk/staff/stan/2016/05/16/closing-sockets-without-killing-processes/

[2021-02-03 06:12] singh7sarb opened #534 "OnFocus + OnBlur stops firing after you leave application ideal for 30 min and then reuse."
* **Version**: **9.31.2**

* **Target**: **.net core 3.1**

Steps to Reproduce:

1. make demo application with OnFocus, OnBlur and Type log on both
2. start application
3. minimize and maximize you will see log will print.
4. keep your application ideal for 30 to 40 min ideal(or leave your application on standby)
5. do Step 3. **log will not print**.

[2021-02-03 10:58] GregorBiswanger commented on #534
Please use the latest Electron.NET version 11.5.1. This bug should be fixed there.

Also think about an update of the CLI: `dotnet tool update ElectronNET.CLI -g`

[2021-02-03 10:58] #534 closed

[2021-02-03 16:51] MuteebAhmad148 opened #535 "Compatibility Issue"
Hello,
I'm having compatibility issues on installing the package. My project runs on .Net 5 .
Here is the error I'm getting.
_Install-Package : NU1202: Package ElectronNET.API 11.5.1 is not compatible with net50 (.NETFramework,Version=v5.0). Package ElectronNET.API 11.5.1 supports: net5.0 (.NETCoreApp,Version=v5.0)_

[2021-02-03 17:39] #535 closed

[2021-02-04 07:05] HJST1979 commented on #348
Example for "Default installation folder" write this in electron.manifest.json

  "build": {
    "appId": "com.<xxx>.app",
    "productName": "<xxx>",
    "copyright": "Copyright © 2021",
    "buildVersion": "1.0.0",
    "compression": "maximum",
    "win": {
      "icon": "../../../<xxx>.ico"
    },
	"nsis" : {
	  "oneClick" : false,
	  "multiLanguageInstaller" : true,
	  "allowToChangeInstallati

[2021-02-05 21:02] mxmissile commented on #524
I might be missing something, but this works for me:

`Task.Run(async () => await Electron.WindowManager.CreateWindowAsync(loadUrl:"https://google.com"));`

[2021-02-06 13:53] rambabu-paluru-tfs opened #536 "Uncaught Exception: A Javascript error occurred in the main process in (version 11.5.1)"
Hi,

ElectronNET.API version - 11.5.1.0
.NET 5
NodeJS version - v12.16.3
Blazor Serverside project is running using the ElectronNET framework.

Steps to Reproduce:

1. Packaged the application using the ElectronNET.CLI (ElectronNET.CLI Version: 9.31.2.0)
2. Installed the application in Win 7 OS PC (Remote dekstop)
3. Application is running successfully after installation.
4. Close remote session b

[2021-02-08 08:06] Nodiink commented on #532
`electronize build /target win /PublishSingleFile false`
gives me
`error NETSDK1095: Optimizing assemblies for performance is not supported for the selected target platform or architecture. Please verify you are using a supported runtime identifier, or set the PublishReadyToRun property to false.`

Instead,
`electronize build /target win /PublishSingleFile false /PublishReadyToRun false`
works.

B

[2021-02-09 07:30] dcaldessa opened #537 "[Question] How to allow Cert Authority or getting around Cert_Authority_Invalid Errors"
I have a project that I am working on with Asp.net Core 5.0 and electronNet. I am getting a Certificate authority error.
How can I handle this with electronNet I am not sure where I need to configure the Certificates .when starting the app.

[2021-02-10 13:29] simedbn opened #538 "Javascript error when calling the Electron.App.Hide()"
* **Version**:

* **Target**:

Steps to Reproduce:

1. add the Electron.App.Hide() to a click event of a menu button
2. Run the app and click on that button :
![image](https://user-images.githubusercontent.com/15849678/107516120-3d2f7780-6bac-11eb-951b-14c72216a95d.png)

[2021-02-10 14:04] danatcofo commented on #532
I've got a PR in #531 to expose all the other compile time properties `/property` values to the electronize command.  Does this solve your issue?

[2021-02-12 16:28] matanelrb commented on #519
Hi, any idea when will this bug get fixed?

[2021-02-15 02:33] marcianobandeira commented on #386
currently, electron have handle and invoke methods, wich provides async await calls

// Renderer process
ipcRenderer.invoke('some-name', someArgument).then((result) => {
  // ...
})

// Main process
ipcMain.handle('some-name', async (event, someArgument) => {
  const result = await doSomeWork(someArgument)
  return result
})

it's possible in Electron.NET?

[2021-02-15 19:01] matanelrb commented on #519
I have worked out a temporary fix. Since I can tell apart what are the first and second instance, I can use named pipes in order to send over the arguments to the first instance. And on the first instance have a thread which will run at the background which will listen to the named pipe and act accordingly. Problem is I can't extract the arguments out of the second instance since they don't have s

[2021-02-16 09:42] JollyRoger91 commented on #455
@danatcofo Unfortunately, this bug is not fixed yet.

I'm facing this issue now too and I'm using the latest release **11.5.1**

As @Gaulomatic pointed out, it seems that this issue depends on the machine. Our Software runs on **30-40** machines without any issue, but on **4** machines this issue happens frequently. I do not see any obvious difference between the machines which work and the machin

[2021-02-17 07:06] MiniguyBrendan opened #539 "Interacting with the Splash Screen causes WebApp to exit before reaching main browser window"
* **Version**: 11.5.1

.NET 5, Nodejs v14.15.4

* **Target**: Windows x64

Interacting with the splash screen - particularly by clicking on a different window, then clicking back to the splash screen - often causes the entire WebApp to close before launching the main browser window. This issue showed up in the discussion of #357 but wasn't resolved.

Further, the splash screen acts as a normal bro

[2021-02-17 07:10] MiniguyBrendan commented on #357
Wanted to echo that I can still reproduce this issue on 11.5.1, but that I've proposed a fix in https://github.com/ElectronNET/Electron.NET/pull/540 😄

[2021-02-18 12:07] tub5 commented on #357
That's fantastic. Can we get this in a hot patch please? It would be of great help

[2021-02-18 20:24] danatcofo opened #541 "electronize doesn't add `version` or `description` to the package.json it uses in a build."
Using the latest version (11.5.1)

This is causing a build error for linux targets with a message of `Please specify 'version' in the package.json` and also causes a warning with message of `description is missed in the package.json`

Steps to Reproduce:

1. add a version and description to the package.json in the application
2. execute `electronize /target linux` on a linux system (other steps ma

[2021-02-18 20:29] GregorBiswanger commented on #541
Since version 8.31.1 we have a feature to set the name and author of the app in `electron.manifest.json`.

Already tried?

[2021-02-18 20:47] danatcofo commented on #541
that is set just fine, its not the name and the author that is causing any issues, its version/description.

I noticed that name/author was in the output package.json already but didn't comment on it.  Honestly I think something changed upstream of us that is now causing electronize to fail on a linux target where it did not before.  It exposed something electronize should probably do but isn't.

[2021-02-20 01:28] dev-gear opened #542 "Electron-Updater broken - please update to latest Electron version"
@GregorBiswanger @robertmuehsig   A regression was introduced in electron-updater since 7.1.3+ where clients are stuck at the old version and never receive updates.

Here is the link with full details: https://github.com/electron/electron/pull/21630

Would be great if we could fast-track the update to the latest Electron version, please.

[2021-02-21 14:35] GregorBiswanger commented on #542
Which version of Electron.NET do you use? With the current version (11.5.1), it works wonderfully for me.

[2021-02-21 21:49] dev-gear commented on #542
Apologies @GregorBiswanger . It was my one past version installed app which was throwin this error. My app with the latest version from Electron.Net works well and does not throw this error. Thanks for looking into this!

[2021-02-21 21:49] #542 closed

[2021-02-22 16:41] tub5 opened #543 "Add ability to pass an argument for "Version" for both the "dotnet publish" and "electron-builder" commands"
As I'm using Azure DevOps to build the electron app I would like to be able to pass the version of the app as an argument to both the argument for `dotnet publish` and `electron-builder` processes. By adding in the `/Version` argument it will be possible to update both of these via the build pipeline. In regards to the `electrion-builder` process, if the `/Version` argument is provided and there i

[2021-02-23 17:57] domialex commented on #22
If some people are strictly concerned about security, here's something I did for my project: https://github.com/domialex/Sidekick/commit/6a9f7bf5d9cc6839003bd00ab3541bef22f2685a

I just added a cookie with a Guid generated on startup to the BrowserWindow, then a middleware that verifies it on every request. Works perfectly.

[2021-02-24 23:10] BenjaminVettori commented on #543
I had the same idea and just saw you already created a PR.
This will provide the ability to use e.g. gitversion to do the versioning automatically instead of having to update the manifest file with a script.

My workaround was the following powershell script, but the extra /Version argument is much more convenient

[code]

[2021-02-25 15:56] BenjaminVettori commented on #541
It seems that name, author and version are only written to package.json and package.lock.json, if the "buildVersion" value is set: https://github.com/ElectronNET/Electron.NET/blob/master/ElectronNET.Host/build-helper.js

[2021-02-28 13:13] peerem commented on #536
We have the same problem with version 11.5.1 and a Blazor Server App (.NET 5).

We would like to continue using Electron.Net in the future because it looks like the new WebWindow in .NET 6 has too many requirements for the user (installed browser).

Uncaught Exception:
Error: spawn
C:\...exe
ENOENT
    at Process.ChildProcess.handle.onexit (internal/child_process,js:267:19)
    at onErrorNT (inter

[2021-03-01 20:46] silent-0 opened #545 "Add support for Electron's app `login` event for proxies that require user:pass authentication"
Electron's [login](https://www.electronjs.org/docs/api/app#event-login) event is emitted when the BrowserWindow requires basic username/password authentication (e.g. for a website or a proxy). Electron's default behavior is to suppress the dialog window that shows up for this authentication, so if you want to be able to use a proxy that requires auth, you _have to_ catch this event and handle auth

[2021-03-03 19:28] revbones-duplicate commented on #532
This pr does not fix the issue when dealing with Blazor wasm projects debugging via Visual Studio (that use the second project for hosting via ASP.NET Core). To recreate the issue, you can create a new Blazor webassembly project, select ASP.NET Core hosted in the options when creating the new project and in the new solution there will be 3 project (Client, Server, Shared).  Set the Server project

[2021-03-06 20:35] peabnuts123 commented on #517
Seeing this too, what the actual fuck?

[2021-03-08 20:47] ppostman commented on #535
i'm having this issue as well.. @MuteebAhmad148 how'd you fix?

[2021-03-10 12:29] kristianklok commented on #384
For future reference, this helped us out a lot when facing the same issue:

https://david.dev/how-to-notarize-your-electron-app/

[2021-03-14 23:11] ienaboard opened #548 "Api-Demos showing blank page"
* **Electron.NET 11.5.1**:
* **NET Core  2.1**:
* **Node js 12.x**:

* **Target: Windows**:

I can't run demo on Windows10.

I followed the steps

1. dotnet tool install --global ElectronNET.CLI
2. git clone https://github.com/ElectronNET/electron.net-api-demos.git
3. cd electron.net-api-demos
4. electronize start

with no errors but I can see only a white page

In my developer tools/console I can

[2021-03-14 23:20] ienaboard commented on #548
Sorry, wrong project

[2021-03-14 23:20] #548 closed

[2021-03-15 02:29] enzosagretti commented on #155
Hi! Thanks for all Gregor! It´s is possible to disable ASP por. I don´t want that user can acces from browser outside electron... thanks!

[2021-03-16 22:19] cosmo0 commented on #15
Can confirm that it works fine.

The only weird thing is that in MacOS there is no "quit" option so cmd+Q doesn't work out of the gates.

[2021-03-16 22:42] cosmo0 commented on #437
I guess he refers to this: https://docs.microsoft.com/en-us/dotnet/core/tools/local-tools-how-to-use

[2021-03-18 09:54] hexdump2002 opened #549 "Add support for selecting folder only save dialog"
Electron has a property for showing folder only save dialogs: https://www.electronjs.org/docs/api/dialog#dialogshowopendialogbrowserwindow-options. It is called openDirectory.

Could it be added to the SaveDialogOptions that is used by  ShowSaveDialogAsync?

[2021-03-18 11:11] #549 closed

[2021-03-18 11:13] hexdump2002 commented on #549
This is yet implemented. And can be achieved through the ShowOpendialogAsync options.

[2021-03-18 13:19] hetal-mandaliya opened #550 "ElectroNet build doesn't work in .Net core with angular"
Hello, Plz help me to solve this issue: Electronize build doesn't produce output in bin\desktop folder, but produce in obj\desktop why?

[2021-03-23 15:31] djordjedjukic commented on #532
I encountered the same issue.
If I understood correctly there is no workaround for starting application without generating executable file?

[2021-03-24 04:10] #550 closed

[2021-03-24 11:56] sFireFrog opened #551 "JavaScript error ，After closing the new window"
Electron.NET CLI and API ：11.5.1
.NET Version：.net 5.0
Node.js  Version: 14.16.0
* **Target**: win

I already have the main window and create a new window. If I close the new window and then call up the development tool, an error will be reported.
![image](https://user-images.githubusercontent.com/32626364/112306231-8f4ed700-8cda-11eb-9fb2-ac1607f9d697.png)

Steps to Reproduce:

1. Create a main w

[2021-03-25 01:11] redplane commented on #347
I have the same iisue while using ipc process to call a function on front end which is run per second. I deployed my application to raspberry pi and after 5 or 10 minutes, the issue occurs.

[2021-03-26 15:18] The-MAZZTer opened #552 "Using the latest electron.net (9) compatible with .NET LTS (Core 3.1) is using an unsupported version of electron (9)"
* **Version**:
Electron.NET CLI 9.31.2.0
Electron.NET API 9.31.2

.NET Core 3.1.13 LTS

* **Target**:
Windows x64

Steps to Reproduce:

1. Create a new ASP.NET Core 3.1 project.
2. Attempt to install latest Electron.NET nuget package

Install fails as latest 11.x version does not support .NET LTS, only .NET 5, forcing LTS users to use 9.x version. This version uses electron 9.4.4 which does not ap

[2021-03-27 18:29] jacobestell commented on #437
yes, what @cosmo0 said is correct!
Sorry I did not provide a link, I left this as a comment as I was checking out a few different options for electron in dotnet.

`dotnet tool update ElectronNET.CLI -g`
The idea here would be to include a dotnet cli tool manifest file in local repos instead of globally requiring the tool on the devs machine.
Similar to dev-includes in node modules vs global instal

[2021-03-29 16:19] mgamache commented on #354
I am having this issue getting a new project running: VS 16.9.2 (.net 5) latest everything.

I am using a new Blazor app. getting the error:

```One or more errors occurred. (The directory name is invalid.)``` running from VS or command line.

[2021-04-07 13:56] Melethainiel commented on #367
Hi @speedi57,
I have the same problem, but I can't find how to do it... Can you explain a bit more please ?

[2021-04-07 14:08] speedi57 commented on #367
The easiest way I found was to use ElectronNET.CLI from source and modify the package.json of ElectronNET.Host to add the dependencies I needed, I don't know if since my problem another solution was found

[2021-04-07 17:37] k-schneider commented on #532
Has anyone been able to get the "start" command to work? Is there some combination of flags that can be used as a workaround?

[2021-04-12 19:49] redplane opened #553 "Cannot build Electron.net on Raspberry Pi 4"
- **Electron.NET**: `11.5.1.0`
- **Electron API**: `11.5.1`

- Net 5
- Node 15.12.0

* **Target**: linux-arm

Steps to Reproduce:

1. Check out code on Raspberry Pi 4
2. Run command: `electronize build /target linux-arm /PublishReadyToRun false`
3. Build error appeared:

[code]

[2021-04-13 17:48] redplane commented on #553
Seems to be it is about the access permission for folder `/usr/lib/node_modules/electron-builder/node_modules/app-builder-lib/templates/icons`

Suddenly, I have found this [Github repository](https://github.com/CDA6122/Project), in which they mentioned:

  ⨯ chmod /usr/lib/node_modules/electron-builder/node_modules/app-builder-lib/templates/icons/electron-linux/256x256.png: operation not permitted

[2021-04-13 17:48] #553 closed

[2021-04-14 17:43] Zshandi opened #554 "Electron.IpcMain.On doesn't allow for event parameter"
* **Version**: 11.5.1

* **Target**: Windows

Inside my main process, I am trying to receive a signal from my renderer process using `IpcMain.On()` and return a value back to the renderer process. The issue I am having is that I cannot access the event parameter inside of the callback function. I am receiving a compile time error stating that event is an "Invalid Expression term".

I looked at the

[2021-04-15 20:26] The-MAZZTer opened #555 "Can't change UserData path before Electron is ready"
* **Version**:
9.31.2 (latest version compatible with .NET Core 3.1)

.NET Core 3.1

* **Target**:
Windows

From looking through the main,js of the electron host, it looks like the bridge to ASP.NET Core is only constructed after Electron's ready event fires. Unfortunately this means it is not possible to set up some things in electron. Specifically you need to call app.setPath for the userdata fo

[2021-04-15 20:29] The-MAZZTer commented on #218
I forgot I filed this bug report.

This is generally only a problem when debugging since in production the user is going to be closing by the application window anyway.

However if the electron host is launching the asp.net core application, it could use the following event to detect if the asp.net core app closes, and to exit if it does:

https://nodejs.org/api/child_process.html#child_process_ev

[2021-04-15 20:34] The-MAZZTer opened #556 "Electron.App.IsReady returns false, but the ASP.NET Core app is only launched after the app.ready event fires."
* **Version**:
* 9.31.2 (latest version compatible with .NET Core 3.1)

.NET Core 3.1

* **Target**:
Windows

It looks like electron host's main.js only launches the ASP.NET Core application once the app.ready event fires. However in my Startup class constructor, Electron.App.IsReady returns false. I suspect this is simply because the IO bridge between electron host and ElectronNET classes isn't c

[2021-04-15 21:53] The-MAZZTer opened #557 "Electron host hangs if ASP.NET Core app crashes before connecting bridge"
* **Version**:
* 9.23.1 (latest version compatible with .NET Core 3.1)

.NET Core 3.1

* **Target**:
* Windows

If your ASP.NET Core app crashes before connecting to Electron.NET, the electron host will just sit around and wait. No error message is displayed, it's not possible to debug, etc.

The short term fix for this would be to have electron host monitor the asp.net core process to see if it e

[2021-04-15 21:59] The-MAZZTer commented on #557
It's also worth noting if you close the electronize console at this point, Electron remains running and you have to go into Task Manager to kill it. Normally electron closes down when you close the electronize console.

[2021-04-21 22:24] osum4est commented on #536
I have the exact same issue as @peerem, using 11.5.1 and Blazor in .NET 5. I'm on macOS if that changes anything.

Anyone figure out a workaround yet? I would like to get my project started

[2021-04-26 01:48] lukasportal opened #558 "Option to run custom code inside main.js"
Today we don't have access to main.js which is the entry point for the electron app and where it starts the asp.net executable.
It would be great if we had a way to maybe specify a path to a js file in the manifest where will be executed inside the main.js file.

The main reason for this is that I need to disable error dialogs so it won't stop the execution.

The code to disable the error dialogs

[2021-04-28 12:59] pmagnussen commented on #292
The following worked for me:
`"win": {
      "icon": "../../../Assets/reporting_tool.ico",
      "publish": [
        {
          "provider": "github",
          "owner": "ElectronNET",
          "repo": "electron.net-api-demos",
          "token": ">> Insert GH_TOKEN here! <<"
        }
      ]
    }`

[2021-05-02 17:44] lukasportal commented on #558
or maybe just a feature to disable error box and console.error/log instead?
do you know of any workaround to have this possible right now?

[2021-05-02 22:31] matzefriedrich commented on #532
As a workaround, I had in mind building the Blazor WebAssembly app independently and just including the published outputs with the electronized server app. Would that be possible?

[2021-05-10 11:51] romuloteixeira commented on #397
Hi,
I used this solution and worked for me.
[https://github.com/ElectronNET/Electron.NET/issues/329#issuecomment-546612899](url)

[2021-05-10 11:54] romuloteixeira commented on #400
Hi,
I used this solution and worked for me.
[https://github.com/ElectronNET/Electron.NET/issues/329#issuecomment-546612899](url)

Example:
![image](https://user-images.githubusercontent.com/40904138/117655311-ce53c180-b18e-11eb-8697-58458ebc7509.png)

[2021-05-10 11:55] litch0 commented on #397
Oh, I didn't thought about that. I totally makes sense, It would take from the root directly! thanks

[2021-05-11 00:09] gbreen12 opened #563 "ShowOpenDialogAsync doesn't return when `openDirectory` is used on Mac"
Electron.NET Version: 11.5.1
Electron.NET CLI Version: 11.5.1
.NET Version: .NET 5.0.202
NodeJS Version: 14.16.1

Using Visual Studio Code on Mac

A dialog opens and I select a directory but it never returns any results. If I use `openFile` instead I get a file directory but `openDirectory` never works.

[code]

[2021-05-11 13:43] vijaya-lakshmi-venkatraman opened #564 "Error when using electronize start behind proxy?"
* **Version**: 11.5.1

* **Target**: .NET 5.0.102 & node.js 12.18.3

Running _electronize start_ throws exception **1408F10B:SSL routines:ssl3_get_record:wrong version number**
I am operating from behind a proxy. How do I resolve this issue?
Should I change some settings?

Steps to Reproduce:

1. Create a sample Blazor app
2. After making necessary changes to launchSettings.json file, run electron

[2021-05-12 13:44] qasLumedica commented on #245
@goonzaah That solution worked for me! (I have an ASP.NET Web Application MVC).
Just to reiterate the answer:
cd into the directory containing Program.cs and Startup.cs and run `electronize init` in there.

[2021-05-12 20:15] redplane opened #566 "electronize start /watch not work, but electronize start does"
- Already searched

- **API** : 11.5.1
- **CLI**: 11.5.1

- Net 5
- Node 12.10.0

* **Target**: Windows x64

Steps to Reproduce:

1. Initialize an electron.net project using Angular
2.Run `electronize init` to initialize mainifest file
3. Run `electronize start /watch`

What happens:
- Previously, application can run and Electron window displayed with web content.
- Now, electron window is not dis

[2021-05-13 04:21] redplane commented on #566
Finally, I found the problem and solution.
After having tried `electronize start /watch` again and again without luck. I changed the profile in Visual Studio from `Electron.NET App` to `IIS Express` as below:

![image](https://user-images.githubusercontent.com/7974095/118076683-e28cfe00-b3dc-11eb-9d37-b89871523a18.png)

When I pressed F5, it threw an error:
![image](https://user-images.githubuserc

[2021-05-13 04:21] #566 closed

[2021-05-13 14:59] soundararajans opened #567 "How to prevent electron window closing when click close and ask confirmation"
How to prevent electron window closing when click close and ask confirmation

* **Node Version**: V 14.17.0
*  **Electron.Net Nuget**: 11.5.1

* **Target**:  Win
*  **.Net**: Net5.0

I tried the below code. But it's not working and window is closing always without asking confirmation.

`
  window.OnClose += () =>
            {
                MessageBoxOptions options = new MessageBoxOptions("Chan

[2021-05-14 11:47] nazar322 commented on #386
@GregorBiswanger Indeed, will this be available in Electron.NET?
How can I reply to the renderer that called `ipcRenderer.invoke`?
This API is very needed as `remote` is deprecated.

[2021-05-18 07:46] MrCircuit commented on #337
Just one remark on the feature: The command line arguments are passed in **lowercase** to the Electron.NET API.

Took me quite some time to find out :-P

[2021-05-18 14:58] bbhxwl opened #568 "electronize init"
9.31.2       net core 3.1

* **Version**:

* **Target**:

 1. Error when running electronize init
Unhandled exception. System.AggregateException: One or more errors occurred. (Path cannot be null. (Parameter 'path'))

[2021-05-22 15:08] srameh commented on #299
This fixed my problem. Thank you very much!

[2021-05-22 17:52] magom001 commented on #568
mac os

[code]

Local packages:

[code]

Running `dotnet run electronize init` does not generate `electroni.manifest.json`.

[2021-05-25 13:42] theolivenbaum commented on #431
Is there anyone working on the remaining .Result uses? Happy to jump with a PR if not...

[2021-05-26 12:53] mohaaron commented on #532
Hi all, I just decided to try testing blazor in electron and see this same problem.

[2021-05-27 01:55] zenith6495 commented on #557
hi have you tried version V11.5.1 to see if this issue still persist? I was using V5.22.14 all the while and having this issue, once upgraded to V11.5.1 seems like won't crash anymore.

By the way, due to some reason I might need to downgrade back to V5.22.14. How can I the short term fixed you mentioned above?

[2021-05-28 00:23] zaneclaes opened #569 "All "electronize" commands fail, claiming that dotnet failed even when it does not fail"
I am able to run `dotnet publish`, `dotnet build`, and `yarn build` all without errors. However, when I run `electronize start` or `electronize build`, I get a failure:

I searched and found https://github.com/ElectronNET/Electron.NET/issues/206 but since the above commands work, I'm not sure it applies. Specifically, if I run `dotnet publish` and then `echo $?`, it prints `0`. However, I still ge

[2021-06-03 01:08] cristiangiagante commented on #532
Hi Guys, in order to debug, just run from your electronized project in a CMD or powershell:
`electronize start /PublishSingleFile false`
Then find the project name using Visual Studio and go to DEBUG => Attach to process => and find the name of your project, then press ATTACH

Happy debugging

[2021-06-04 14:48] mohaaron commented on #532
@cristiangiagante I still get this error when following your directions.

In PowerShell I'm executing this command. electronize start /PublishSingleFile false

error NETSDK1102: Optimizing assemblies for size is not supported for the selected publish configuration. Please ensure that you are publishing a self-contained app.

[2021-06-04 14:49] cristiangiagante commented on #532
What is your issue when you try to run it normally? pls share your results

[2021-06-04 14:52] mohaaron commented on #532
Either way I run the start command I get the same error as noted in my previous comment. I've tried running start from the command line as well as creating the debug profile as you describe. I can add a screenshot of the error in the console window if that would help.

[2021-06-04 15:01] cristiangiagante commented on #532
Let start using a stable release, update your project to target Net6 instead of net6 preview

[2021-06-04 15:34] mohaaron commented on #532
Here is the same error again using the stable version of VS and Net
![Electron error](https://user-images.githubusercontent.com/1719598/120826842-db16cb80-c528-11eb-9761-efa5b792c5f3.png)
5.

[2021-06-04 16:00] mhamri commented on #532
I'm facing the same issue, just created a blazor web assembly with asp.net backed and added the elctronNet and facing the same issue

[2021-06-04 16:24] cristiangiagante commented on #532
ok, I will take a look later but seems to be you are currently using the sdk/6.0.100-preview

[2021-06-04 16:42] mohaaron commented on #532
Oh, I see what you're saying now. I switched from using the VS2019 Preview to the most recent stable version of VS. How do I get it to use the Net5 SDK?

This line here might be part of the problem.
dotnet publish -r win-x64 -c "Debug" --output "BlazorElectronizedSln\obj\Host\bin" /p:PublishReadyToRun=false /p:PublishSingleFile=false **--no-self-contained**

[2021-06-04 17:03] mhamri commented on #532
@cristiangiagante  I am using sdk 5.0, I can create a new repo so you can try it out

[2021-06-04 17:13] mohaaron commented on #532
I'll figure out how to make mine use SDK 5.0. Maybe that will help me.

[2021-06-04 17:16] mhamri commented on #532
https://github.com/mhamri/ElectronNet-blazor-bug

I have v5.0.2 sdk installed on my laptop

[2021-06-04 23:11] cristiangiagante commented on #532
Based on the BuildCommand class from electronnet https://github.com/ElectronNET/Electron.NET/blob/30941df39c49f82720011c2444f4af4cbd7b8569/ElectronNET.CLI/Commands/BuildCommand.cs#L119
It should not be using --no-self-contained in the build process, do you have the last version of electronnet?

[2021-06-05 06:19] mhamri commented on #532
i just installed everything yesterday, so it should be whatever available. this is what I have available

![image](https://user-images.githubusercontent.com/8991783/120882273-1a1c4e00-c609-11eb-885e-d33cb2244cb4.png)

[2021-06-07 14:27] avalon30 opened #571 "Cannot run demo app with latest version."
* **Version**:  electronnet.cli (version '11.5.1') | dotnet (version '5.0.300')

* **Target**: Microsoft Windows [Version 10.0.17763.1971]

Steps to Reproduce:

1. dotnet tool install --global ElectronNET.CLI
2. git clone https://github.com/ElectronNET/electron.net-api-demos.git
3. cd electron.net-api-demos
4. electronize start

**Expected result:**
https://github.com/ElectronNET/electron.net-api-

[2021-06-08 11:35] Mondonno commented on #292
Anyone solved this? or anyone have a method how to add custom icon into the electron.net app?

[2021-06-08 11:59] zaneclaes commented on #569
The problem was that electronize does not support the`*.csproj` format used by the React SPA template. Specifically, the template includes sections that build the NPM project as part of the pre/post-build process. I noticed that this was not present in the example project for `dotnet5`. Removing them means that `npm install` (or `yarn install`) must be completed before the project build, but it fi

[2021-06-08 11:59] #569 closed

[2021-06-12 13:31] mhamri commented on #532
as a workaround I created a blazor server side, this definitely increase the bundle size, but it worked

[2021-06-12 13:49] cristiangiagante commented on #532
Sorry I totally forgot this, I checked your repo, I was not able to do it work but I know how to do it. You need to create your own NuGet package based on a fork of electronnet and replace the --no-self-contained in the build commands class.

[2021-06-12 17:38] mhamri commented on #532
but do you fix it for later version?

[2021-06-13 15:16] cristiangiagante commented on #532
I don't think so this is not my project, I can't update the official nuget repository

[2021-06-13 15:28] mhamri commented on #532
oh, thankx for the help anyway

[2021-06-14 13:06] Mondonno opened #572 "Getting stuck with building win .exe on macos (Also with /PublishReadyToRun false)"
* **Version**:  11.5.1.0

**Node**: 12.14.1
**.NET**: 5.0.203

* **Target**: Windows (the same error when building for Linux)
*When building for osx it is fine*

Steps to Reproduce:

1. Get on macos laptop
2. Init new project in electron
3. Build it: `electronize /target win /PublishReadyToRun false`
4. Error
*If i do not type /PublishReadyToRun i getting `NETSDK1095` error* #446 #464

**Comment**

[2021-06-14 15:54] izakntun commented on #572
I have the same issue last week, the solution was updated NodeJS to the latest version, I used version 10.16 Node and now I have version 14.17 Node.

[2021-06-15 14:50] Mondonno commented on #572
@izakntun Ok, after upgrading my node to lastest stable version, i got correct executable. But there is still a bug, you need to put: `/PublishReadyToRun false` in order to build app to any other system than macos.

I think the @GregorBiswanger sholud have a look on this 👍

[2021-06-16 10:34] semihkiroglu opened #574 "[Help Me] Run Second Application When Running First Application"
* **Electron.NET CLI & API versions:** 9.31.2 & 11.5.1
* **.NET Core version:** 3.1 LTS
* **Node.js version:** 14.16.0
* **Target**: Windows 10 x64

Hello there. When I try to run the application I compiled for the second time (second instance), I get an EADDRINUSE error. I want the second application to run and see the first application running and close by doing some operations. I've been search

[2021-06-16 15:19] semihkiroglu commented on #574
I have determined that the Trend Micro Apex One Security Agent is the cause. After add my app to whitelist, problem solved. But I can't ask users to do that. What is your suggested solution? Can we handle this situation as a bug and have a chance to fix it?

[2021-06-18 11:37] Nafhaa opened #575 "Error in publish"

[2021-06-18 11:38] Nafhaa commented on #575
.csproj file

<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
    <PreserveCompilationContext>true</PreserveCompilationContext>
    <AssemblyName>Nafhaa.Web</AssemblyName>
    <TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>
    <SerenitySrc>..\..\Serenity\src\</SerenitySrc>
    <DotNetSergenExe>$(SerenitySrc)Serenity.Net.CodeGenerator

[2021-06-18 11:39] Nafhaa commented on #575
CSPROJ file:

<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
    <PreserveCompilationContext>true</PreserveCompilationContext>
    <AssemblyName>Nafhaa.Web</AssemblyName>
    <TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>
    <SerenitySrc>..\..\Serenity\src\</SerenitySrc>
    <DotNetSergenExe>$(SerenitySrc)Serenity.Net.CodeGenerator

[2021-06-18 11:42] Nafhaa commented on #575
CSPROJ file
[TestProject.Web.csproj.txt](https://github.com/ElectronNET/Electron.NET/files/6676791/TestProject.Web.csproj.txt)

[2021-06-18 12:41] Nafhaa commented on #575
Build is actually successful:

C:\Users\Sandbox\source\repos\TestProject\TestProject\TestProject.Web>dotnet build
Microsoft (R) Build Engine version 16.11.0-preview-21254-21+e73d08c28 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  Determining projects to restore...
  Restored C:\Users\Sandbox\source\repos\TestProject\TestProject\TestProject.Web\TestProject.Web.csproj (in 765

[2021-06-20 02:58] mbparker commented on #568
dotnet electronize init

[2021-06-20 18:04] robalexclark commented on #575
Yep, I have this issue too - builds were fine until recently - has something changed in the dotnet tool?

[2021-06-20 18:28] zaneclaes commented on #238
The [Electron.Build docs](https://www.electron.build/index.html#installation) (upon which this repo is built) now _"strongly recommend"_ using yarn over npm. It may be worth reconsidering this stance.

[2021-06-21 11:01] Nafhaa commented on #575
@GregorBiswanger your guidance will be helpful here

[2021-06-21 11:03] robalexclark commented on #575
Not entirely sure how/why but I fixed this by upgrading to latest stable version of node (14.x)

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Nafhaa ***@***.***>
Sent: Monday, June 21, 2021 12:02:06 PM
To: ElectronNET/Electron.NET ***@***.***>
Cc: Robin Clark ***@***.***>; Comment ***@***.***>
Subject: Re: [ElectronNET/Electron.NET] Error occurred during

[2021-06-21 11:04] Nafhaa commented on #575
Ohh, thanks for the suggestion will try with the stable update of node then

[2021-06-21 11:09] Nafhaa commented on #575
No luck, the node version installed in this project is latest stable - 14.17.0

[2021-06-22 01:06] bbhxwl opened #576 "Can I load a URL? such as https://google.com"
Can I load a URL? such as https://google.com

I don't want to load my local asp.net core file because it's not easy to update. I want to load my asp.net core program on the network. What should I do.

[2021-06-23 07:15] #575 closed

[2021-06-25 16:18] nazar322 opened #577 "Tray click event not fired, BalloonClosed event only called once"
* **Version**:  11.5.1

* **Node**:  v14.17.1
* **.NET Core**:  5.0

* **Target**: Windows 10

Steps to Reproduce:

1. Download sample project and run it
2. Attach debugger to TraySampleElectronNet.exe
3. Navigate to TrayHelper.cs and place breakpoint on lines 45 and 51
4. In the app click "Hide to tray" then click on the icon in the tray, breakpoint is not hit
5. Click "Show tray notification", c

[2021-06-28 10:45] tub5 opened #578 "Breaking change in electron-updater caused by using Electron 11"
CLI: 11.5.1.0
NuGet: 11.5.1

* **Target**: win-x64

As per [the ticket open for electron-updater](https://github.com/electron-userland/electron-builder/issues/6000) all auto update applications will break. As this appears to be the route the developers of the package are heading, the Electron version used in this package should be updated to at least Electron 12.

Steps to Reproduce:

1. Create a

[2021-06-28 14:22] ekuchynski commented on #578
Also got this surprise today. Built and deployed updates refused to start on many user machines.. :( Please help.

[2021-06-29 19:25] denniskrq opened #580 "electron-builder parameter mismatch"
* **Version**: 11.5.1

* **Target**: win7x64

Steps to Reproduce:

1. Execute `electronize build /target custom "win7-x64;win64"` as suggested in the custom target documentation
2. Observe the final output for `npx electron-builder --config=./bin/electron-builder.json --win64 --x64 -c.electronVersion=11.1.1` to be `Unknown argument: win64`

The issue seems to be that the Electronize CLI code uses

[2021-06-30 06:14] lanluu commented on #578
We are suffering the same issue :-(. Any fix / hint is really appreciated.

[2021-06-30 06:47] tub5 commented on #578
They have reverted to put the affected build of 4.0.9 of electron-updater as latest so you shouldn't have this issue for now. PR is in to upgrade our Electron version anyway and they will be reviewed tomorrow evening.

[2021-06-30 08:46] lanluu commented on #578
Thank you for your information!

[2021-07-01 11:48] Jennal commented on #580
same issue here.

[code]

[2021-07-01 15:34] tub5 commented on #574
Is your app digitally signed?

[2021-07-01 15:37] tub5 commented on #572
@Mondonno the publish ready issue is already fixed with #570

[2021-07-01 18:12] #523 closed

[2021-07-01 20:41] #539 closed

[2021-07-01 21:43] #578 closed

[2021-07-02 10:43] GregorBiswanger commented on #521
You also need the `electron-arch` parameter for the processor architecture.

This command does what you want:
`electronize build /target custom "win7-x86;win" /electron-arch ia32`

[2021-07-02 10:43] #521 closed

[2021-07-02 10:46] GregorBiswanger commented on #521
And for the start command you only had one typo.

This command does what you want:
`electronize start /target custom "win7-x86;win32"`

[2021-07-02 10:55] GregorBiswanger commented on #434
We need support - I can't add new features as quickly as possible on my own. Here is a video of how you can install the missing features yourself and submit them as a pull request:
https://youtu.be/Po-saU_Z6Ws

Please also test it with you.

[2021-07-02 10:56] GregorBiswanger commented on #455
I can hardly reproduce it. We need support.

Here is a video of how you can install the missing features yourself and submit them as a pull request: https://youtu.be/Po-saU_Z6Ws

Please also test it with you.

[2021-07-02 10:58] GregorBiswanger commented on #455
We are currently also using a .NET library to be able to communicate with Nodejs Socket.io, which has long been deprecated.

We need a new one that will continue to be maintained and will also work with the current Socket.io version. Can someone help us? We are also happy to do this together.

[2021-07-02 10:59] GregorBiswanger commented on #455
The talk here is of **SocketIoClientDotNet**

[2021-07-02 14:47] tub5 opened #584 "Version flag not persisting with the referenced executable"
When using the new Version flag, this is not being persisted to the dotnet command (I'm not sure why this wasn't in the PR).
You can bypass this by using `electronize build /target win /Version 2.0.13 /p:Version=2.0.13 /p:ProductVersion=2.0.13` however, this should not have to be the case.

* **Version**: 13.5.1

* **Target**: Windows

Steps to Reproduce:

1. use the `/Version` flag when building

[2021-07-02 14:55] GregorBiswanger commented on #520
Hi @Delpire, this feature is implemented for the next **Electron.NET 13.5.1** release.

If the second instance is opened with arguments, the main application that has landed receives a focus. If you subscribe to this event, you can also request your new arguments.

As example:

[code]

[2021-07-02 14:55] #520 closed

[2021-07-02 14:58] GregorBiswanger commented on #584
Would you like to quickly submit a pull request? :)

Then it should still be fixed for the 13.5.1 release.

[2021-07-02 15:01] tub5 commented on #584
@GregorBiswanger I'm just testing it now. Will submit within half an hour.

[2021-07-02 15:03] GregorBiswanger commented on #519
Hi @matanelrb
the support of handle command line arguments in singleInstance is implemented for the next Electron.NET 13.5.1 release.

see https://github.com/ElectronNET/Electron.NET/issues/520

[2021-07-02 15:09] tub5 commented on #584
@GregorBiswanger PR in

[2021-07-02 15:17] tub5 commented on #584
Permission to stop hyperventilating now 😂

[2021-07-02 15:18] #519 closed

[2021-07-02 15:18] #584 closed

[2021-07-02 15:20] GregorBiswanger commented on #584
yes you can run down the adrenaline now... 😂😂😂🥳

Thank you for your support!

[2021-07-03 16:45] mgamache commented on #571
This is the same issue I have with my project (using .net 5.0 / asp.net MVC).

Note: _**ConfigureServices**_ is called, but not _**Configure**_ on the asp.net startup class. It just sort of stops.

[2021-07-05 06:05] leoubaid opened #586 "Node Module is not working after packaging the application"
Hi,  I install node module with NPM and its working fine in development environment, but getting " Cannot find module"  error in application after packaging it.

[2021-07-05 08:45] tub5 commented on #455
@GregorBiswanger [the socket.io-client-csharp package](https://github.com/doghappy/socket.io-client-csharp/) seems to be fairly similar. As long as we specify that the EIO is 3 (socket.io 2.x) rather than the default 4 (socket.io 3.x 4.x). It seems to be updated fairly regularly.

[2021-07-06 07:16] Jennal commented on #580
The problem occured when I use git bash in windows. When I use cmd, the problem gone.

[2021-07-08 08:57] miggat commented on #536
Issue still happening. I'm totally unable to run my app.

[2021-07-08 11:54] peerem commented on #536
I switched to Chromely and I am happy.

[2021-07-08 12:00] GregorBiswanger commented on #536
Please manually remove the host folder from the Obj directory. Then the problem should be fixed.

[2021-07-08 12:02] GregorBiswanger commented on #536
And please use the latest version of Electron.NET + Electron.NET CLI! (Version 13.5.1)

[2021-07-09 04:10] pvenky commented on #455
I'm able to reproduce this problem fairly consistently when calling `BrowserWindow.GetBoundsAsync`. When I programmatically resize the window, I can call `GetBoundsAsync` and there seems to be no problem. However, when I call the same method after a user resize event, i.e., inside an event handler for the `BrowserWindow.OnResize`, then the `await window.GetBoundsAsync()` never returns and eventual

[2021-07-09 08:05] Jennal opened #587 "Election.net with custom web service"
Hi, thanks for this great job for C# users to use electron.

But ASP.NET/Blazor or something like that from Microsoft are too slow on startup, even on empty/simple project. It would takes more than 10s to start the app. The time is close to power on my computer till I see the windows login page.

I don't need features in ASP.NET or Blazor, I only need logic codes written by C#.

I find a much fast

[2021-07-12 07:44] dbphoton commented on #539
Still experiencing the same issue, after update, clean and fully rebiuld app.
When I click on splash,  Electron stops at
[code]

and WebApp close before launching the main browser window.

[2021-07-12 11:27] Mondonno commented on #572
@tub5 Thats very good! So it got fixed 1.07.2021 after 17 days of my issue. But still builds does not works on targeted systems

[2021-07-13 07:50] gregvinyard opened #588 "ElectronNET.CLI 13.5.1 nuget package won't install, saying it's not compatible with net5.0"
* **Version**:
* ElectronNET.CLI 13.5.1
* .NET Core 5.0
* Visual Studio Community 2019 16.10.3

When I try to add the ElectronNET.CLI 13.5.1 nuget package to a brand new ASP.NET Core Web App project, I get the following error. The error says it's not compatible with net5.0 and instead I need net5.0.

Steps to Reproduce:

1. Create a new ASP.NET Core Web App using .NET 5.0 as the target framework
2

[2021-07-13 08:47] gregvinyard commented on #588
D'oh... I'm new to installing CLI tools from nuget. Didn't read the docs thoroughly and didn't realize I can't add this to a project like other nuget packages.
Running "dotnet tool update ElectronNET.CLI -g" from a command line worked fine.

Sorry to bother you!

[2021-07-13 08:47] #588 closed

[2021-07-16 05:11] sachinmakhre commented on #259
please Any one can help me to implement auo update in electron Server blazor application ..

[2021-07-16 07:58] sachinmakhre commented on #336
hi i am very new to electron and node ,unable to implement auto update please help...

[2021-07-16 08:07] GregorBiswanger commented on #336
@sachinmakhre Please refer to the instructions on the Internet for electron builder - Auto Update. This can be used 1:1 with Electron.NET.

[2021-07-16 12:52] sachinmakhre commented on #336
thanks Gregor ! replying in very short time
still yet no luck , i am trying .NET 5 server blazer app with electron.net Api
no function is working ,require return undefine, where to write main process function ,
it will be great help if you a short demo on .NET 5 server blazer app this will help me understand where to write render and main process . **i wish to bring your notice , we are not using

[2021-07-20 14:52] denniskrq opened #589 "Redundant PublishReadyToRun parameters sent to dotnet if PublishReadyToRunShowWarning is used"
* **Version**: 13.5.1

* **Target**: win7-x64;win

Steps to Reproduce:

1. Run `electronize build /dotnet-configuration Debug /target custom "win7-x64;win" /p:PublishSingleFile=false /p:PublishReadyToRunShowWarning=true`
2. Observe the printed `dotnet` command as: `dotnet publish -r win7-x64 -c "Debug" --output "C:\TestProject\obj\desktop\custom\bin" /p:PublishReadyToRun=true /p:PublishSingleFile=

[2021-07-20 18:42] di-one opened #590 "Build not launch application"
Hi, I have a problem that I have been trying to fix for several days:
When I run my application in with electronize start, everything works fine.
But with a build version (electronize build ...), the console opens (usual behavior of ASP.NET) but the application does not start.

The problem seems to be similar to these:
https://github.com/ElectronNET/Electron.NET/issues/147
https://github.com/Elect

[2021-07-20 19:36] di-one commented on #590
I get it to work on my other pc.

I realized that a Desktop folder was created in the bin folder (while on the other pc where the build doesn't work I don't have the Desktop folder)

Now it remains to know why I don't have this Desktop folder in bin ^^

[2021-07-20 19:46] di-one commented on #590
Problem solved => update node js

[2021-07-20 19:46] #590 closed

[2021-08-02 12:57] raizpvp opened #591 "Cannot Access being used by another process"
* **Version**: 13.5.1.0

* **Target**: .Net Core 5.0 & Node 15.10.0

* **Problem**: I have created an empty ASP.Net project. Performed all steps as described to install Electron.NET and include it in the project. Now when I enter "electronize start" I get this error:

* **Error**:
C:\Program Files\dotnet\sdk\5.0.302\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Publish.targets(1017,5): error MSB401

[2021-08-02 22:58] GregorBiswanger commented on #591
I created a new .NET 5 project and followed the setup steps. There's no problem.

Try deleting the obj\Host\-folder and try again. If necessary, try a project again in a different directory?